## Assignment: 1

Topic :Variables, String, float, int

#### <span style='color:purple '> 1.What are the key features of Python? </span>

* Python is easy to learn & understand
* Python has many open sources and libraries
* Object oriented programming
* Dynamically typed
* GUI programming

#### <span style='color:purple '> 2.What are the Data Types in Python? </span>

* Numeric
* Boolean
* Text
* sequence
* Mapping
* SetDT

#### <span style='color:purple '> 3.What are local variables and global variables in Python? </span>

A local variable is variable declared in the function and accesible in the function only
where global variable can be accessed globaly throughout the program.

#### <span style='color:purple '> 4.How do you write comments in python? and Why Comments are important? </span>

we can write comments in python using # and triple inverted commas. comments are useful
to write a keypoint/function of program so can be understood easily later by anyone

#### <span style='color:purple'> 5.How to comment on multiple lines in python? <span>

to comment multiple lines in python we can use triple inverted commas

#### <span style='color:purple '> 6.What do you mean by Python literals? <span>

Python literals means values declared/assigned to variables

#### <span style='color:purple '> 7.What are different ways to assign value to variables? <span>

* Direct initialize >> a=5.
* Same value assign for different variables >> a=5,b=5,c=5.
* Different value assign for different variables >> a=5,b=10,c=15.

#### <span style='color:purple '>8.What are the Escape Characters in python? <span>

backslash is an escape character in python

#### <span style='color:purple '> 9.Which are the different ways to perform string formatting? Explain with example. <span>

##### ways of formatting string:

###### 1) capitalize()

In [2]:
string='python language'
print(string)

string.capitalize() #capitalizes the first word of string

python language

'Python language'

###### 2) upper()

In [3]:
string='Data Science'
print(string)

string.upper() #changes each charater of string to upper case

Data Science

'DATA SCIENCE'

###### 3) lower()

In [4]:
string='DATA SCIENCE'
print(string)

string.lower() #changes each character of string to lower case

DATA SCIENCE

'data science'

###### 4) title()

In [5]:
string='data science'
print(string)

string.title() #changes first character of word to upper case

data science

'Data Science'

###### 5) lstrip()

In [28]:
string='      Python'
print(string)

string.lstrip() #removes leading spaces

      Python

'Python'

###### 6) rstrip()

In [29]:
string='Python       '
print(string)

string.rstrip() #removes trailing spaces

Python

'Python'

###### 7) strip()

In [30]:
string='    Python    '
print(string)

string.strip() #removes all leading and trailin gspaces

    Python

'Python'

###### 8) swapcase()

In [31]:
string='Python'
print(string)

string.swapcase() #changes cases of characters

Python

'pYTHON'

###### 9) replace()

In [32]:
string='I am a Data Scientist'
print(string)

string.replace('Data','Rocket')

I am a Data Scientist

'I am a Rocket Scientist'

In [33]:
string.replace('a','1')

'I 1m 1 D1t1 Scientist'

###### 10) count()

In [34]:
string='I am a Data Scientist'
print(string)

string.count('a')

I am a Data Scientist

4

###### 11) index()

In [36]:
string='I am a Data Scientist'
print(string)

string.index('Data')

I am a Data Scientist

7

###### 12) find()

In [37]:
string='I am a Data Scientist'
print(string)

string.find('Data')

I am a Data Scientist

7

###### 13) split()

In [38]:
string='I am a Data Scientist'
print(string)

string.split()

I am a Data Scientist

['I', 'am', 'a', 'Data', 'Scientist']

###### 14) endswith()

In [39]:
string='I am a Data Scientist'
print(string)

string.endswith('o')

I am a Data Scientist

False

###### 15) startswith()

In [40]:
string='I am a Data Scientist'
print(string)

string.startswith('I')

I am a Data Scientist

True

###### 16) isalnum()

In [42]:
string='Python333'

string.isalnum()

True

###### 17) isalpha()

In [43]:
string='Python333'

string.isalpha()

False

###### 18) isdigit()

In [44]:
string='9975437'

string.isdigit()

True

###### 19) isdecimal()

In [45]:
string='9975437'

string.isdecimal()

True

###### 20) isdigit()

In [46]:
mobile_num = '\u0039'
mobile_num.isdigit()

True

###### 21) isnumeric()

In [1]:
mobile_num = '\u0039'
mobile_num.isnumeric()

True

###### 22) islower()

In [2]:
string='Python'
string2='python'

print(string.islower())
print(string2.islower())

False
True

###### 23) isupper()

In [3]:
string='Python'
string2='PYTHON'

print(string.isupper())
print(string2.isupper())

False
True

###### 24) istitle()

In [4]:
string='Data Science'
string2='Data science'

print(string.istitle())
print(string2.istitle())

True
False

###### 25) isspace()

In [5]:
string='Python'
string='   '

print(string.isspace())
print(string2.isspace())

True
False

###### 26) zfill()

In [6]:
string='Python'

string.zfill(15)

'000000000Python'

###### 27) center()

In [7]:
string='pyhton'
string.center(15)

'     pyhton    '

#### <span style='color:purple '> 10. Write a program to print every character of a string entered by the user in a new line using a loop <span>

In [8]:
string=input()

for i in string:
    print(i)

Python
P
y
t
h
o
n

#### <span style='color:purple '>11. Write a program to find the length of the string "machine learning" with and without using len function.<span>

In [9]:
string='machine learning'

print('Length of string is',len(string))

Length of string is 16

In [10]:
length=0
for i in string:
    length+=1
print('Length of string is', length)

Length of string is 16

#### <span style='color:purple '>12. Write a program to check if the word 'orange' is present in the "This is orange juice"<span>

In [13]:
string='This is orange juice'

if string.find('orange')!=-1:
    print('orange is present in orange juice')

orange is present in orange juice

In [14]:
string = 'this is orange juice'
substring = 'orange'
if substring in string :
    print(f'{substring} is present in given string')

orange is present in given string

#### <span style='color:purple '>13. Write a program to find the number of vowels, consonants, digits, and white space characters in a string.<span>

In [22]:
string='Python Assignment 1'

vowels,consonants,digits,whitespace=0,0,0,0

for i in string:
    if i.isalpha()==True:
        if i in 'aeiou' or i in 'AEIOU':
            vowels+=1
        else:
            consonants+=1
    elif i.isdigit()==True:
        digits+=1
    elif i.isspace()==True:
        whitespace+=1
        
print('Vowels:',vowels)
print('Consonants:',consonants)
print('Digits:',digits)
print('Whitespaces:',whitespace)

Vowels: 4
Consonants: 12
Digits: 1
Whitespaces: 2

#### <span style='color:purple '>14. Write a Python program to count Uppercase, Lowercase, special character, and numeric values in a given string.<span>

In [28]:
string='Python Assignment : 1'

uc,lc,sc,nv=0,0,0,0

for i in string:
    if i.isalpha():
        if i.isupper():
            uc+=1
        else:
            lc+=1
    elif i.isdigit():
        nv+=1
    elif i.isspace()==False:
        sc+=1
            
print('Uppercase:',uc)
print('Lowercase:',lc)
print('Special character:',sc)
print('Numeric value:',nv)

Uppercase: 2
Lowercase: 14
Special character: 1
Numeric value: 1

#### <span style='color:purple '>15. Write a program to make a new string with all the consonants deleted from the string "Hello, have a good day".<span>

In [4]:
string='Hello, have a good day'

for i in string:
    if i in 'aeiou'or i in 'AEIOU':
        print(i,end='')

eoaeaooa

#### <span style='color:purple '>16. Write a Python program to remove the nth index character from a non-empty string.<span>

In [10]:
string=input()
n=int(input())

if n in range(len(string)):
    print(string[:n]+string[n+1:])
else:
    print('Invalid index')

Python
3
Pyton

#### <span style='color:purple '>17. Write a Python program to change a given string to a new string where the first and last characters have been exchanged.<span>

In [11]:
def letter_exchange(string):
    return string[-1]+string[1:-1]+string[0]

In [12]:
letter_exchange('Python')

'nythoP'

In [13]:
letter_exchange('Data')

'aatD'

#### <span style='color:purple '>18. Write a Python program to count the occurrences of each word in a given sentence.<span>

In [18]:
def count_word(string):
    l1=string.split()
    s1=set(l1)
    for i in s1:
        print('count of', i, 'is', l1.count(i))

In [19]:
count_word('Apple banana orange banana guava orange orange')

count of guava is 1
count of orange is 3
count of Apple is 1
count of banana is 2

In [20]:
def count_word2(string):
    l1=string.split()
    d={}
    for i in l1:
        d.update({i:l1.count(i)})
    return d

In [21]:
count_word2('Apple banana orange banana guava orange orange')

{'Apple': 1, 'banana': 2, 'orange': 3, 'guava': 1}

#### <span style='color:purple '>19. How do you count the occurrence of a given character in a string? <span>

In [24]:
def count_char(string,char):
    print('count of {} in given string is {}'.format(char,string.count(char)))

In [25]:
string='Python'
char='y'
count_char(string,char)

count of y in given string is 1

In [26]:
string='Apple banana orange banana guava orange orange'
char='banana'
count_char(string,char)

count of banana in given string is 2

#### <span style='color:purple '>20. Write a program to find last 10 characters of a string?<span>

In [29]:
def last_10char(string):
    if len(string)>=10:
        return string[-10:]
    else:
        return 'invalid'

In [30]:
last_10char('Python and data science')

'ta science'

In [31]:
last_10char('Python')

'invalid'

#### <span style='color:purple '>21. WAP to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters <span>

In [36]:
def convert_case(string):
    l=[]
    for i in string[:4]:
        if i.isupper():
            l.append(i)
    if len(l)>=2:
        return string.upper()
    else:
        return string

In [37]:
convert_case('Python')

'Python'

In [38]:
convert_case('PYthon')

'PYTHON'

In [39]:
convert_case('PythoN')

'PythoN'

#### <span style='color:purple '>22. Write a Python program to remove a newline in Python.<span>

In [41]:
text = "A regular\n expression is a sequence\n of characters\n that specifies a search\n pattern."
print(text)
print(text.replace('\n', ''))

A regular
 expression is a sequence
 of characters
 that specifies a search
 pattern.
A regular expression is a sequence of characters that specifies a search pattern.

#### <span style='color:purple '>23. Write a Python program to swap commas and dots in a string
○ Sample string: "32.054,23"
○ Expected Output: "32,054.23" <span>

In [43]:
s1=input('Enter the number:')
s2=s1.maketrans('.,',',.')
print(s1.translate(s2))

Enter the number:32.054,23
32,054.23

#### <span style='color:purple '>24. Write a Python program to find the first repeated character in a given string <span>

In [70]:
def repeated_char(string):
    l=[]
    
    for i in string:
        if string.count(i)>=2:
            l.append(i)
    if len(l)>=1:
        return "Repeated characters:",set(l)
    else:
        return "No repeated character"

In [71]:
repeated_char('Science')

('Repeated characters:', {'c', 'e'})

In [72]:
repeated_char('Python')

'No repeated character'

In [76]:
def rep_char(string):
    d={}
    l=[]
    for i in string:
        d.update({i:string.count(i)})
    for i in d:
        if d.get(i)>1:
            l.append(i)
    if len(l)>=1:
        return "Repeated characters:",l
    else:
        return "No repeated character"

In [77]:
rep_char('Science')

('Repeated characters:', ['c', 'e'])

In [78]:
rep_char('Python')

'No repeated character'

#### <span style='color:purple '>25. Write a Python program to find the second most repeated word in a given string <span>