In [ ]:
 Numeric: int, float, complex
        
Text: str
    
sequence: list, set, tuple, range, frozenset
    
Mapping: dict
    
setDT: set, frozenset
    
boolean: True, False

## <span style='color:purple '> Numeric Datatype </span>

*int >> built in function

*whole number

*+ve or -ve number

10,20,-23,-21

#### <span style='color:indigo '> 1.Int </span>

In [1]:
a=10
type(a)

int

In [2]:
b=(-12)
type(b)

int

#### <span style='color:indigo '> 2.float </span>

+ve or-ve

It contains decimal point

In [3]:
x=3.14
type(x)

float

#### <span style='color:indigo '> 3.complex </span>

it contains real and imaginary

In [4]:
x=3+7j
type(x)

complex

## <span style='color:purple '> Python Casting </span>

We need to specify datatype

int()
float()
str()
complex()

#### <span style='color:indigo '> 1. int to float </span>

In [6]:
a=3
b=float(a)

print(type(a), a)
print(type(b), b)

<class 'int'> 3
<class 'float'> 3.0

#### <span style='color:indigo '> 2. float to int </span>

In [7]:
a=3.14
b=int(b)

print(type(a), a)
print(type(b), b)

<class 'float'> 3.14
<class 'int'> 3

#### <span style='color:indigo '> 3. int to complex </span>

In [8]:
a=45
b=complex(a)

print(type(a), a)
print(type(b), b)

<class 'int'> 45
<class 'complex'> (45+0j)

#### <span style='color:indigo '> 4. float to complex </span>

In [9]:
a=43.4
b=complex(a)

print(type(a), a)
print(type(b), b)

<class 'float'> 43.4
<class 'complex'> (43.4+0j)

#### <span style='color:indigo '> 5. complex to int or float </span>

cant convert complex to int

cant conver complex to float

#### <span style='color:indigo '> 6. int to string </span>

In [10]:
a=56
b=str(a)

print(type(a), a)
print(type(b), b)

<class 'int'> 56
<class 'str'> 56

#### <span style='color:indigo '> 7. float to string </span>

In [11]:
a=34.2
b=str(a)

print(type(a), a)
print(type(b), b)

<class 'float'> 34.2
<class 'str'> 34.2

#### <span style='color:indigo '> 8. string to int </span>

In [12]:
str1='3234'
str2=int(str1)

print(type(str1),str1)
print(type(str2),str2)#

<class 'str'> 3234
<class 'int'> 3234

In [13]:
str1='32 34' #will throw the error
str2=int(str1)

print(type(str1),str1)
print(type(str2),str2)

ValueError: invalid literal for int() with base 10: '32 34'

In [14]:
str1='python' #will throw the error
str2=int(str1)

print(type(str1),str1)
print(type(str2),str2)

ValueError: invalid literal for int() with base 10: 'python'

#### <span style='color:indigo '> 8. string to float </span>

In [16]:
str1='32.34'
str2=float(str1)

print(type(str1),str1)
print(type(str2),str2)

<class 'str'> 32.34
<class 'float'> 32.34

In [17]:
str1='33.54'

print(type(str1),str1)

a=complex(int(float(str1)))

print(type(a),a)

<class 'str'> 33.54
<class 'complex'> (33+0j)

In [ ]:
#end