#### List:

It is a collection of items

data types >> int,float,str,list,tuple,dict,set etc

It is used to store sequence of various data types

#### Properties:

* Ordered data type
* Mutable/changable >> add, delete, update
* duplicates are allowed
* enclosed by square brackets>> []
* list items are comma seperated

In [1]:
list1=[2,3,4,5,6]
print(list1)

[2, 3, 4, 5, 6]

In [2]:
set1={'python',43,'s',76}
print(set1)

{43, 'python', 's', 76}

In [3]:
var=['python',43,'s',76]
var[2]=100
print(var)

['python', 43, 100, 76]

In [4]:
type(var)

list

In [6]:
list2=[23,45,89.54,65.3,'python','data','science',[34,45,21],{55,78,65},{'ram':12,'sham':34}]
print(list2)

[23, 45, 89.54, 65.3, 'python', 'data', 'science', [34, 45, 21], {65, 78, 55}, {'ram': 12, 'sham': 34}]

#### Indexing:

In [7]:
l1=[34,67,53,21,56]
len(l1)

5

In [8]:
l1[0]

34

In [9]:
l1[5]

IndexError: list index out of range

In [ ]:
list1 >>        [ 3,  6,  1,  9,  4]
+ve index >>      0   1   2   3   4 
-ve index >>     -5  -4  -3  -2 -1

In [10]:
list1 = [3,6,1,9,4]
print(list1[-4])
print(list1[1])

6
6

#### Slicing:

In [11]:
list2=[23,45,89.54,65.3,'python','data','science',[34,45,21],{55,78,65},{'ram':12,'sham':34}]
print(list2)

[23, 45, 89.54, 65.3, 'python', 'data', 'science', [34, 45, 21], {65, 78, 55}, {'ram': 12, 'sham': 34}]

In [12]:
list2[0:4]

[23, 45, 89.54, 65.3]

In [13]:
list2[4:8]

['python', 'data', 'science', [34, 45, 21]]

In [14]:
list2[0:4:2] #step size

[23, 89.54]

In [15]:
list2[::-1] #reverse list

[{'ram': 12, 'sham': 34},
 {55, 65, 78},
 [34, 45, 21],
 'science',
 'data',
 'python',
 65.3,
 89.54,
 45,
 23]

#### Check items in list:

In [16]:
list1 = [3,6,1,9,4,100,200,300,'python', 'data', 'science','machine','learning']
300 in list1

True

In [18]:
'python' in list1

True

In [19]:
45 in list1

False

In [20]:
city_names = ['Pune', "Mumbai", "Delhi", 'Chennai']
city = 'Mumbai'

if city in city_names:
    print(f'{city} is in given list')
    
else:
    print(f"{city} is not in given list")

Mumbai is in given list

#### Access list using for loops:

In [21]:
names=['Purva','Akku','Radha','Meera']

for i in names:
    print(i)

Purva
Akku
Radha
Meera

In [22]:
for i in names:
    print('Hello', i)

Hello Purva
Hello Akku
Hello Radha
Hello Meera

In [23]:
for name in names:
    print(name)

Purva
Akku
Radha
Meera

In [24]:
for i,j in enumerate(names):
    print(i,j)

0 Purva
1 Akku
2 Radha
3 Meera

In [26]:
list(range(10,15))

[10, 11, 12, 13, 14]

In [27]:
list(range(5))

[0, 1, 2, 3, 4]

In [28]:
list(range(0,20,5))

[0, 5, 10, 15]

In [29]:
city_names = ['Pune', "Mumbai", "Delhi", 'Chennai',"Bangalore"]

for var in range(len(city_names)):  # range(5)
    print(var,city_names[var])

0 Pune
1 Mumbai
2 Delhi
3 Chennai
4 Bangalore

In [30]:
city_names = ['Pune', "Mumbai", "Delhi", 'Chennai',"Bangalore"]

for i in range(len(city_names)):  # range(5)
    print(f"city at index {i} is {city_names[i]}")

city at index 0 is Pune
city at index 1 is Mumbai
city at index 2 is Delhi
city at index 3 is Chennai
city at index 4 is Bangalore

In [31]:
city_names = ['Pune', "Mumbai", "Delhi", 'Chennai',"Bangalore"]
for city in city_names: # i = 'Bangalore'
    print(city,city.upper())
    print("++++++++++++++++++++++++===")

Pune PUNE
++++++++++++++++++++++++===
Mumbai MUMBAI
++++++++++++++++++++++++===
Delhi DELHI
++++++++++++++++++++++++===
Chennai CHENNAI
++++++++++++++++++++++++===
Bangalore BANGALORE
++++++++++++++++++++++++===

#### Create list

In [32]:
var=[] #list initialization
type(var)

list

## List Functions

In [ ]:
1. append()   # To add only one item
2. extend()   # To add list
3. insert()   # To add item at specified index
4. remove()
5. pop()
6. clear()
7. sort()
8. reverse()
9. index()
10. count()
11. copy()

12. del keywords

#### 1.append()

list.append(value)

we can only one item/value at a time

item will get added at last index

In [33]:
var=[]
var.append(100)
print(var)

[100]

In [34]:
numbers=[]
print(numbers)

numbers.append(10)
print(numbers)

numbers.append(20)
print(numbers)

numbers.append(30)
print(numbers)

[]
[10]
[10, 20]
[10, 20, 30]

In [35]:
numbers.append('Python')
print(numbers)

[10, 20, 30, 'Python']

In [36]:
numbers.append([34,433]) #appending item
print(numbers)

[10, 20, 30, 'Python', [34, 433]]

#### 2. extend()

list1.extend(list2)

In [37]:
list1=['A','B','C']
list2=['D','E','F']

list1.extend(list2)
print(list1)

['A', 'B', 'C', 'D', 'E', 'F']

In [39]:
list2

['D', 'E', 'F']

In [41]:
list2.extend(list1)
list2

['D', 'E', 'F', 'A', 'B', 'C', 'D', 'E', 'F', 'A', 'B', 'C', 'D', 'E', 'F']

#### 3. insert()

list.insert(index,value)

In [42]:
list1=['A','B','C']
print(list1)

['A', 'B', 'C']

In [43]:
list1.insert(2,'K')
print(list1)

['A', 'B', 'K', 'C']

#### Delete items from list

1. remove
2. pop
3. clear
4. del  keyword

#### 1. remove

list.remove(item)

In [44]:
list1=['A','B','C']
print(list1)

['A', 'B', 'C']

In [45]:
list1.remove('C')
print(list1)

['A', 'B']

#### 2. pop

list.pop(index)

default index value is -1

In [46]:
list2

['D', 'E', 'F', 'A', 'B', 'C', 'D', 'E', 'F', 'A', 'B', 'C', 'D', 'E', 'F']

In [47]:
list2.pop()

'F'

In [48]:
list2

['D', 'E', 'F', 'A', 'B', 'C', 'D', 'E', 'F', 'A', 'B', 'C', 'D', 'E']

In [49]:
list2.pop(1)

'E'

In [50]:
list2

['D', 'F', 'A', 'B', 'C', 'D', 'E', 'F', 'A', 'B', 'C', 'D', 'E']

#### 3. clear

to clear the list

In [51]:
list2

['D', 'F', 'A', 'B', 'C', 'D', 'E', 'F', 'A', 'B', 'C', 'D', 'E']

In [52]:
list2.clear()

In [53]:
list2

[]

#### 4. del keyword

to delete the list

In [54]:
print(list2)

[]

In [55]:
del list2

In [56]:
print(list2)

NameError: name 'list2' is not defined

#### Sorting

#### 1. Ascending order

In [57]:
numbers=[54,87,97,43,2,34,65,32,12,65]
print(numbers)

[54, 87, 97, 43, 2, 34, 65, 32, 12, 65]

In [58]:
numbers.sort()

In [59]:
print(numbers)

[2, 12, 32, 34, 43, 54, 65, 65, 87, 97]

In [60]:
city_names = ['Pune', "Mumbai", "Delhi", 'Chennai',"Bangalore"]
print('original list',city_names)

city_names.sort()
print('sorted list',city_names)

original list ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
sorted list ['Bangalore', 'Chennai', 'Delhi', 'Mumbai', 'Pune']

#### 2. Descending order

In [61]:
numbers = [10,4,20,5,1,23,67,6]
numbers.sort()
print(numbers[::-1])

[67, 23, 20, 10, 6, 5, 4, 1]

In [62]:
city_names = ['Pune', "Mumbai", "Delhi", 'Chennai',"Bangalore"]
print('original list',city_names)

city_names.sort(reverse=True)
print('sorted list',city_names)

original list ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
sorted list ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']

In [63]:
letters=['B','K','S','T','K','P']
print('original',letters)

letters.sort()
print('sorted',letters)

original ['B', 'K', 'S', 'T', 'K', 'P']
sorted ['B', 'K', 'K', 'P', 'S', 'T']

In [64]:
letters=['B','K','S','T','K','P']
print('original',letters)

letters.sort(reverse=True)
print('sorted',letters)

original ['B', 'K', 'S', 'T', 'K', 'P']
sorted ['T', 'S', 'P', 'K', 'K', 'B']

### Sorted()

In [ ]:
built in function
sorted(list1)

In [65]:
letters=['B','K','S','T','K','P']
sorted(letters)

['B', 'K', 'K', 'P', 'S', 'T']

In [66]:
numbers = [10,4,20,5,1,23,67,6]
sorted(numbers)

[1, 4, 5, 6, 10, 20, 23, 67]

### Reverse()

In [69]:
numbers = [10,4,20,5,1,23,67,6]
numbers.reverse()
print(numbers)

[6, 67, 23, 1, 5, 20, 4, 10]

### Reversed()

In [70]:
numbers = [10,4,20,5,1,23,67,6]
print(numbers)

[10, 4, 20, 5, 1, 23, 67, 6]

In [73]:
nw=tuple(reversed(numbers))
print(nw)

(6, 67, 23, 1, 5, 20, 4, 10)

### Index()

In [74]:
string = 'python'
string.index('y')

1

In [75]:
sub_names = ["Phy","Che","math","bio",'Eng']
sub_names.index("math")

2

#### Count()

In [76]:
numbers = [3,4,510,20,30,20,20]
cnt = numbers.count(4)
print(cnt)

1

In [77]:
sub_names = ["Phy","Che","math","bio",'Eng',"math"]
sub_names.count("math")

2

### copy()

In [82]:
list1 = [10,20,30,40,50]
list2 = list1.copy()
print("list1 >>",list1)
print("list2 >>",list2)

list2[3] = 'data'
print("list1 >>",list1)
print("list2 >>",list2)

list1 >> [10, 20, 30, 40, 50]
list2 >> [10, 20, 30, 40, 50]
list1 >> [10, 20, 30, 40, 50]
list2 >> [10, 20, 30, 'data', 50]

In [83]:
list1 = [[10,20],[30,40],[50,60]]
list2 = list1.copy() # Shallow copy
print("list1 >>",list1)
print("list2 >>",list2)

list2[2][0] = 10000
print("list1 >>",list1)
print("list2 >>",list2)

list1 >> [[10, 20], [30, 40], [50, 60]]
list2 >> [[10, 20], [30, 40], [50, 60]]
list1 >> [[10, 20], [30, 40], [10000, 60]]
list2 >> [[10, 20], [30, 40], [10000, 60]]

In [84]:
l1=[1,2,3]
l2=l1.copy()

print('l1>>',l1)
print('l2>>',l2)

l2[2]=0
print('l1>>',l1)
print('l2>>',l2)

l1>> [1, 2, 3]
l2>> [1, 2, 3]
l1>> [1, 2, 3]
l2>> [1, 2, 0]

In [85]:
l1=[1,2,3]
l2=l1.copy()

print('l1>>',l1)
print('l2>>',l2)

l1[2]=0
print('l1>>',l1)
print('l2>>',l2)

l1>> [1, 2, 3]
l2>> [1, 2, 3]
l1>> [1, 2, 0]
l2>> [1, 2, 3]

In [86]:
l1=[['python'],['data','science'],['natural','language','processing']]
l2=l1.copy()

print('l1>>',l1)
print('l2>>',l2)

l2[2][1]='data'

print('l1>>',l1)
print('l2>>',l2)

l1>> [['python'], ['data', 'science'], ['natural', 'language', 'processing']]
l2>> [['python'], ['data', 'science'], ['natural', 'language', 'processing']]
l1>> [['python'], ['data', 'science'], ['natural', 'data', 'processing']]
l2>> [['python'], ['data', 'science'], ['natural', 'data', 'processing']]

### Deepcopy()

In [90]:
import copy

In [88]:
list1 = [[10,20],[30,40],[50,60]]
list2 = copy.deepcopy(list1)
print("list1 >>",list1)
print("list2 >>",list2)

list2[1][0] = 'python'
print("list1 >>",list1)
print("list2 >>",list2)

list1 >> [[10, 20], [30, 40], [50, 60]]
list2 >> [[10, 20], [30, 40], [50, 60]]
list1 >> [[10, 20], [30, 40], [50, 60]]
list2 >> [[10, 20], ['python', 40], [50, 60]]

In [92]:
l1=[['python'],['data','science'],['natural','language','processing']]
l2=copy.deepcopy(l1)

print('l1>>',l1)
print('l2>>',l2)

l2[2][1]='data'

print('l1>>',l1)
print('l2>>',l2)

l1>> [['python'], ['data', 'science'], ['natural', 'language', 'processing']]
l2>> [['python'], ['data', 'science'], ['natural', 'language', 'processing']]
l1>> [['python'], ['data', 'science'], ['natural', 'language', 'processing']]
l2>> [['python'], ['data', 'science'], ['natural', 'data', 'processing']]

## Built in functions

In [ ]:
1. sorted()
2. reversed()
3. sum()
4. min()
5. max()

## Nested list

In [78]:
list1 = [[2,3,4],[10,20,30],[100,200,300]]
print(list1,len(list1))

[[2, 3, 4], [10, 20, 30], [100, 200, 300]] 3

In [79]:
for item in list1:
    print(item)

[2, 3, 4]
[10, 20, 30]
[100, 200, 300]

In [80]:
list1 = [[2,3,4],[10,20,30],[100,200,300]]
list1[1]

[10, 20, 30]

In [81]:
list1 = [[2,3,4],[10,20,30],[100,200,300]]
list1[1][2]

30

## <span style='color:purple '> List Constructor </span>

In [93]:
var = (10,20,30,40)
type(var)

tuple

In [94]:
var = (10,20,30,40)
print(var,type(var))

list1 = list(var) # list constructor
print(list1,type(list1))

(10, 20, 30, 40) <class 'tuple'>
[10, 20, 30, 40] <class 'list'>

In [95]:
set1 = {10,20,30,40,20,30}
print(set1,type(set1))

list1 = list(set1) # list constructor
print(list1,type(list1))

{40, 10, 20, 30} <class 'set'>
[40, 10, 20, 30] <class 'list'>

In [96]:
str1 = 'python'
print(str1,type(str1))

list1 = list(str1) # list constructor
print(list1,type(list1))

python <class 'str'>
['p', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [97]:
str2 = 'python and data science'
str2.split()

['python', 'and', 'data', 'science']

In [98]:
list1 = ['a', 'b', 'c', 'd', 'e']
string = '-'.join(list1)
string

'a-b-c-d-e'

## List Comprehension

In [ ]:
new_list = [expression for item in list1]
new_list = [expression for item in list1 if condition] # condition >> True

In [99]:
list1 = [4,1,3,6,7,8,10,11,34,36,20,55,77,99,100]
even_numbers = []
for i in list1:
    if i % 2 == 0:
        even_numbers.append(i)
print('even_numbers in list:',even_numbers)

even_numbers in list: [4, 6, 8, 10, 34, 36, 20, 100]

In [101]:
list1 = [4,1,3,6,7,8,10,11,34,36,20,55,77,99,100]
even_numbers = [i for i in list1 if i%2==0]

print(even_numbers)

[4, 6, 8, 10, 34, 36, 20, 100]

In [102]:
city_names = ['Mumbai','PUNE',"Delhi",'chennai','kolkata']
new_city_names = [city.lower() for city in city_names]
print(new_city_names)

['mumbai', 'pune', 'delhi', 'chennai', 'kolkata']

In [103]:
list1 = [4,1,3,6,7,8,10,11,34,36,20,55,77,99,100]
even_numbers = [i**2 for i in list1 if i % 2 == 0 and i < 15]
even_numbers

[16, 36, 64, 100]

In [104]:
weekdays = ['Sunday','Monday',"Tuesday",'Wednesday','Thursday','Friday','Saturday']
result = [day.upper() for day in weekdays if len(day) == 6]
result

['SUNDAY', 'MONDAY', 'FRIDAY']

In [ ]:
#end