# Set

In [ ]:
string  :  Ordered, Immutable, Duplicates are allowed,  ""
list    :  Ordered, Mutable,   Duplicates are allowed,  []
tuple   :  Ordered, Immutable, Duplicates are allowed,  ()
set     : Unordered,Mutable,   Duplicates are not allowed, {}

In [ ]:
#Set

1. Unordered
2. Mutable
3. Duplicates are not allowed
4. set are enclosed by {}

In [1]:
var=[]
var1=()
var2={}
var3=''

print(type(var))
print(type(var1))
print(type(var2))
print(type(var3))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [2]:
var = {1,2,3,5,6}
type(var)

set

In [3]:
var = {}  
type(var)

dict

In [4]:
var = {2}  
type(var)

set

In [5]:
list1 = [2,3,'a',5,1,'b',10,20,15,3.14,5.67,2]
len(list1)

12

In [6]:
len(set(list1))

11

In [7]:
var = [True,False ,True, True, False]
print(var,len(var))

[True, False, True, True, False] 5

In [8]:
var = {True,False ,True, True, False}
print(var,len(var))

{False, True} 2

In [9]:
var = [True,False ,True, True, False,1,1,1,0,0,0,1]
print(var,len(var))

[True, False, True, True, False, 1, 1, 1, 0, 0, 0, 1] 12

In [10]:
var = {True,False ,True, True, False,1,1,1,0,0,0,1}
print(var,len(var))

{False, True} 2

In [11]:
var = {1,1,1,False ,True, True,0,0,0,1,True}
print(var,len(var))

{False, 1} 2

In [ ]:
True >> 1
False >> 0

### 1. Set Constructor

In [12]:
list1=[4,5,7,8,4,4,2]
print(list1,len(list1))

set1=set(list1)
print(set1,len(set1))

[4, 5, 7, 8, 4, 4, 2] 7
{2, 4, 5, 7, 8} 5

In [13]:
new_list=list(set1)
print(new_list,len(new_list))

[2, 4, 5, 7, 8] 5

### 2. Accessing set items

We can not indexing and slicing in set data type

In [14]:
set1 = {'phy','che','math','eng','bio'}
set1[0]

TypeError: 'set' object is not subscriptable

In [15]:
sub_names = {'phy','che','math','eng','bio','math','che'}
print('sub_names >> ',sub_names) # 5

for subject in sub_names:
    print("Subject name is :",subject)

sub_names >>  {'eng', 'phy', 'bio', 'che', 'math'}
Subject name is : eng
Subject name is : phy
Subject name is : bio
Subject name is : che
Subject name is : math

### 3. Set Functions

In [ ]:
1. add()
2. update()
3. union()
4. remove()
5. discard()
6. pop()
7. clear()
8. intersection()
9. intersection_update()
10. difference()
11. difference_update()
12. symmetric_difference()
13. symmetric_difference_update()
14. issubset()
15. issuperset()
16. isdisjoint()

#### 3.1 add()

Use to add only one item in set

In [16]:
set1={10,20,30}
print(set1)
set1.add(40)
print(set1)

{10, 20, 30}
{40, 10, 20, 30}

In [18]:
set1.add(1,2)
print(set1)

TypeError: set.add() takes exactly one argument (2 given)

#### 3.2 update()

In [19]:
set1={1,2,3}
set2={4,5,6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [20]:
set1={1,2,3}
set2={4,5,6}
set3=set1.update(set2)
print(set3)

None

#### 3.3 union()

returns new set

In [21]:
set1={1,2,3}
set2={4,5,6}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6}

In [22]:
set1 = {1,2,3,4,5,3}  # 5
set2 = {4,5,6,6,7,8}  # 5

set3 = set1.union(set2)

print("set1 : ",set1)
print("set2 : ",set2)
print("set3 : ",set3)

set1 :  {1, 2, 3, 4, 5}
set2 :  {4, 5, 6, 7, 8}
set3 :  {1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
set1 = {1,2,3,4,5,3}  # 5
set2 = {4,5,6,6,7,8}  # 5

set3 = set1.update(set2) # None

print("set1 : ",set1)
print("set2 : ",set2)
print("set3 : ",set3)

set1 :  {1, 2, 3, 4, 5, 6, 7, 8}
set2 :  {4, 5, 6, 7, 8}
set3 :  None

In [25]:
st={2,3,4,5}
l1=[3,5,6,7,8]

ns=st.union(l1)
print(st,len(st))
print(l1,len(l1))
print(ns,len(ns))

{2, 3, 4, 5} 4
[3, 5, 6, 7, 8] 5
{2, 3, 4, 5, 6, 7, 8} 7

#### 3.4 remove()

set.remove(item)

In [26]:
set1={10,20,30,40}
print(set1)

set1.remove(20)
print(set1)

{40, 10, 20, 30}
{40, 10, 30}

#### 3.5 discard()

In [27]:
set1={10,20,30,40}
print(set1)

set1.remove(20)
print(set1)

{40, 10, 20, 30}
{40, 10, 30}

In [28]:
set1={10,20,30,40}
print(set1)

set1.remove(50)
print(set1)

{40, 10, 20, 30}

KeyError: 50

In [29]:
set1={10,20,30,40}
print(set1)

set1.discard(50)
print(set1)

{40, 10, 20, 30}
{40, 10, 20, 30}

#### 3.6 pop()

It will delete random item from set

In [30]:
set1={1,2,3,4,5,6}
print(set1)
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}

In [31]:
set2={'a','j','c','d'}
print(set2)
set2.pop()
print(set2)

{'c', 'd', 'a', 'j'}
{'d', 'a', 'j'}

#### 3.7 clear()

to remove all the items from set

In [32]:
print(set2)

{'d', 'a', 'j'}

In [33]:
set2.clear()
print(set2)

set()

#### 3.8 del

In [34]:
del set2

In [35]:
print(set2)

NameError: name 'set2' is not defined

#### 3.9 intersection()

In [36]:
set1={1,2,3,4}
set2={5,6,7,8}

set3=set1.intersection(set2)
print(set1)
print(set2)
print(set3)

{1, 2, 3, 4}
{8, 5, 6, 7}
set()

In [37]:
set1={1,2,3,4,5}
set2={5,6,7,8}

set3=set1.intersection(set2)
print(set1)
print(set2)
print(set3)

{1, 2, 3, 4, 5}
{8, 5, 6, 7}
{5}

In [38]:
city_names1 = {'Pune','Mumbai','Delhi'}
city_names2 = {"Pune",'Bangalore','Chennai'}
result = city_names1.intersection(city_names2)
print(result)

{'Pune'}

#### 3.10 intersecton_update()

will update the set with intersection value

In [39]:
set1={1,2,3,4,5}
set2={5,6,7,8}

set1.intersection_update(set2)
print(set1)
print(set2)

{5}
{8, 5, 6, 7}

In [40]:
set1={1,2,3,4,5}
set2={5,6,7,8}

set3=set1.intersection_update(set2)
print(set1)
print(set2)
print(set3)

{5}
{8, 5, 6, 7}
None

#### 3.11 difference()

Unique values from set1

In [41]:
set1={1,2,3,4,5}
set2={5,6,7,8}

set3=set1.difference(set2)
print(set1)
print(set2)
print(set3)

{1, 2, 3, 4, 5}
{8, 5, 6, 7}
{1, 2, 3, 4}

#### 3.12 difference_update()

will update set1 with difference value

In [42]:
set1={1,2,3,4,5}
set2={5,6,7,8}

set1.difference_update(set2)

print(set1)
print(set2)

{1, 2, 3, 4}
{8, 5, 6, 7}

In [43]:
s={4,7,8,9,0,5,4,3,2}
s2={8,9,6,4,2,4,2}

s.difference_update(s2)
print(s2)

{2, 4, 6, 8, 9}

#### 3.12 symmetric_difference()

Unique values from both sets

In [44]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Bangalore','Chennai','Mumbai'}

result = set1.symmetric_difference(set2)

print('set1 >> ',set1)
print('set2 >> ',set2)
print('result >> ',result)

set1 >>  {'Kolkata', 'Hyderabad', 'Delhi', 'Pune', 'Mumbai'}
set2 >>  {'Mumbai', 'Bangalore', 'Chennai', 'Pune'}
result >>  {'Chennai', 'Kolkata', 'Hyderabad', 'Delhi', 'Bangalore'}

#### 3.13 symmetric_difference_update()

In [45]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Bangalore','Chennai','Mumbai'}

result = set1.symmetric_difference_update(set2)

print('set1 >> ',set1)
print('set2 >> ',set2)
print('result >> ',result)

set1 >>  {'Kolkata', 'Hyderabad', 'Delhi', 'Bangalore', 'Chennai'}
set2 >>  {'Mumbai', 'Bangalore', 'Chennai', 'Pune'}
result >>  None

In [47]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Bangalore','Chennai','Mumbai'}

set2.symmetric_difference_update(set1)

print('set1 >> ',set1)
print('set2 >> ',set2)

set1 >>  {'Kolkata', 'Hyderabad', 'Delhi', 'Pune', 'Mumbai'}
set2 >>  {'Chennai', 'Kolkata', 'Hyderabad', 'Delhi', 'Bangalore'}

#### 3.14 issubset()

True / False

In [48]:
set1 = {3,4,5,6,7,8}
set2 = {5,6,7}

set2.issubset(set1)

True

In [49]:
set1 = {3,4,5,6,7,8}
set2 = {5,6,7,10}

set2.issubset(set1)

False

#### 3.15 superset()

In [51]:
set1 = {3,4,5,6,7,8}
set2 = {5,6,7}

set1.issuperset(set2)

True

In [52]:
set1 = {3,4,5,6,7,8}
set2 = {5,6,7}

set2.issuperset(set1)

False

#### 3.16 isdisjoint()

In [53]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Mumbai','Chennai'}

set1.isdisjoint(set2)

False

In [54]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {'Chennai'}

set1.isdisjoint(set2)

True

# Frozenset

In [ ]:
1. Unordered 
2. Immutable
3. Duplicates are not allowed

### Frozenset functions

In [ ]:
1. union
2. intersection
3. difference
4. symmetric_difference
5. issubset
6. issuperset
7. isdisjoint

In [55]:
s1={10,20,30,40}
s2=frozenset({5,6,7,8})

print(type(s1))
print(type(s2))

<class 'set'>
<class 'frozenset'>

In [ ]:
#end