## Assignment: 1

Topic :Variables, String, float, int

#### <span style='color:purple '> 1.What are the key features of Python? </span>

* Python is easy to learn & understand
* Python has many open sources and libraries
* Object oriented programming
* Dynamically typed
* GUI programming

#### <span style='color:purple '> 2.What are the Data Types in Python? </span>

* Numeric
* Boolean
* Text
* sequence
* Mapping
* SetDT

#### <span style='color:purple '> 3.What are local variables and global variables in Python? </span>

A local variable is variable declared in the function and accesible in the function only
where global variable can be accessed globaly throughout the program.

#### <span style='color:purple '> 4.How do you write comments in python? and Why Comments are important? </span>

we can write comments in python using # and triple inverted commas. comments are useful
to write a keypoint/function of program so can be understood easily later by anyone

#### <span style='color:purple'> 5.How to comment on multiple lines in python? <span>

to comment multiple lines in python we can use triple inverted commas

#### <span style='color:purple '> 6.What do you mean by Python literals? <span>

Python literals means values declared/assigned to variables

#### <span style='color:purple '> 7.What are different ways to assign value to variables? <span>

* Direct initialize >> a=5.
* Same value assign for different variables >> a=5,b=5,c=5.
* Different value assign for different variables >> a=5,b=10,c=15.

#### <span style='color:purple '>8.What are the Escape Characters in python? <span>

backslash is an escape character in python

#### <span style='color:purple '> 9.Which are the different ways to perform string formatting? Explain with example. <span>

##### ways of formatting string:

###### 1) capitalize()

In [1]:
string='python language'
print(string)

string.capitalize() #capitalizes the first word of string

python language

'Python language'

###### 2) upper()

In [2]:
string='Data Science'
print(string)

string.upper() #changes each charater of string to upper case

Data Science

'DATA SCIENCE'

###### 3) lower()

In [3]:
string='DATA SCIENCE'
print(string)

string.lower() #changes each character of string to lower case

DATA SCIENCE

'data science'

###### 4) title()

In [4]:
string='data science'
print(string)

string.title() #changes first character of word to upper case

data science

'Data Science'

###### 5) lstrip()

In [5]:
string='      Python'
print(string)

string.lstrip() #removes leading spaces

      Python

'Python'

###### 6) rstrip()

In [6]:
string='Python       '
print(string)

string.rstrip() #removes trailing spaces

Python

'Python'

###### 7) strip()

In [7]:
string='    Python    '
print(string)

string.strip() #removes all leading and trailin gspaces

    Python

'Python'

###### 8) swapcase()

In [8]:
string='Python'
print(string)

string.swapcase() #changes cases of characters

Python

'pYTHON'

###### 9) replace()

In [9]:
string='I am a Data Scientist'
print(string)

string.replace('Data','Rocket')

I am a Data Scientist

'I am a Rocket Scientist'

In [10]:
string.replace('a','1')

'I 1m 1 D1t1 Scientist'

###### 10) count()

In [11]:
string='I am a Data Scientist'
print(string)

string.count('a')

I am a Data Scientist

4

###### 11) index()

In [12]:
string='I am a Data Scientist'
print(string)

string.index('Data')

I am a Data Scientist

7

###### 12) find()

In [13]:
string='I am a Data Scientist'
print(string)

string.find('Data')

I am a Data Scientist

7

###### 13) split()

In [14]:
string='I am a Data Scientist'
print(string)

string.split()

I am a Data Scientist

['I', 'am', 'a', 'Data', 'Scientist']

###### 14) endswith()

In [15]:
string='I am a Data Scientist'
print(string)

string.endswith('o')

I am a Data Scientist

False

###### 15) startswith()

In [16]:
string='I am a Data Scientist'
print(string)

string.startswith('I')

I am a Data Scientist

True

###### 16) isalnum()

In [17]:
string='Python333'

string.isalnum()

True

###### 17) isalpha()

In [18]:
string='Python333'

string.isalpha()

False

###### 18) isdigit()

In [19]:
string='9975437'

string.isdigit()

True

###### 19) isdecimal()

In [20]:
string='9975437'

string.isdecimal()

True

###### 20) isdigit()

In [21]:
mobile_num = '\u0039'
mobile_num.isdigit()

True

###### 21) isnumeric()

In [22]:
mobile_num = '\u0039'
mobile_num.isnumeric()

True

###### 22) islower()

In [23]:
string='Python'
string2='python'

print(string.islower())
print(string2.islower())

False
True

###### 23) isupper()

In [24]:
string='Python'
string2='PYTHON'

print(string.isupper())
print(string2.isupper())

False
True

###### 24) istitle()

In [25]:
string='Data Science'
string2='Data science'

print(string.istitle())
print(string2.istitle())

True
False

###### 25) isspace()

In [26]:
string='Python'
string='   '

print(string.isspace())
print(string2.isspace())

True
False

###### 26) zfill()

In [27]:
string='Python'

string.zfill(15)

'000000000Python'

###### 27) center()

In [28]:
string='pyhton'
string.center(15)

'     pyhton    '

#### <span style='color:purple '> 10. Write a program to print every character of a string entered by the user in a new line using a loop <span>

In [29]:
string=input()

for i in string:
    print(i)

python
p
y
t
h
o
n

#### <span style='color:purple '>11. Write a program to find the length of the string "machine learning" with and without using len function.<span>

In [30]:
string='machine learning'

print('Length of string is',len(string))

Length of string is 16

In [31]:
length=0
for i in string:
    length+=1
print('Length of string is', length)

Length of string is 16

#### <span style='color:purple '>12. Write a program to check if the word 'orange' is present in the "This is orange juice"<span>

In [32]:
string='This is orange juice'

if string.find('orange')!=-1:
    print('orange is present in orange juice')

orange is present in orange juice

In [33]:
string = 'this is orange juice'
substring = 'orange'
if substring in string :
    print(f'{substring} is present in given string')

orange is present in given string

#### <span style='color:purple '>13. Write a program to find the number of vowels, consonants, digits, and white space characters in a string.<span>

In [34]:
string='Python Assignment 1'

vowels,consonants,digits,whitespace=0,0,0,0

for i in string:
    if i.isalpha()==True:
        if i in 'aeiou' or i in 'AEIOU':
            vowels+=1
        else:
            consonants+=1
    elif i.isdigit()==True:
        digits+=1
    elif i.isspace()==True:
        whitespace+=1
        
print('Vowels:',vowels)
print('Consonants:',consonants)
print('Digits:',digits)
print('Whitespaces:',whitespace)

Vowels: 4
Consonants: 12
Digits: 1
Whitespaces: 2

#### <span style='color:purple '>14. Write a Python program to count Uppercase, Lowercase, special character, and numeric values in a given string.<span>

In [35]:
string='Python Assignment : 1'

uc,lc,sc,nv=0,0,0,0

for i in string:
    if i.isalpha():
        if i.isupper():
            uc+=1
        else:
            lc+=1
    elif i.isdigit():
        nv+=1
    elif i.isspace()==False:
        sc+=1
            
print('Uppercase:',uc)
print('Lowercase:',lc)
print('Special character:',sc)
print('Numeric value:',nv)

Uppercase: 2
Lowercase: 14
Special character: 1
Numeric value: 1

#### <span style='color:purple '>15. Write a program to make a new string with all the consonants deleted from the string "Hello, have a good day".<span>

In [36]:
string='Hello, have a good day'

for i in string:
    if i in 'aeiou'or i in 'AEIOU':
        print(i,end='')

eoaeaooa

#### <span style='color:purple '>16. Write a Python program to remove the nth index character from a non-empty string.<span>

In [37]:
string=input()
n=int(input())

if n in range(len(string)):
    print(string[:n]+string[n+1:])
else:
    print('Invalid index')

python
3
pyton

#### <span style='color:purple '>17. Write a Python program to change a given string to a new string where the first and last characters have been exchanged.<span>

In [38]:
def letter_exchange(string):
    return string[-1]+string[1:-1]+string[0]

In [39]:
letter_exchange('Python')

'nythoP'

In [40]:
letter_exchange('Data')

'aatD'

#### <span style='color:purple '>18. Write a Python program to count the occurrences of each word in a given sentence.<span>

In [41]:
def count_word(string):
    l1=string.split()
    s1=set(l1)
    for i in s1:
        print('count of', i, 'is', l1.count(i))

In [42]:
count_word('Apple banana orange banana guava orange orange')

count of banana is 2
count of orange is 3
count of guava is 1
count of Apple is 1

In [43]:
def count_word2(string):
    l1=string.split()
    d={}
    for i in l1:
        d.update({i:l1.count(i)})
    return d

In [44]:
count_word2('Apple banana orange banana guava orange orange')

{'Apple': 1, 'banana': 2, 'orange': 3, 'guava': 1}

#### <span style='color:purple '>19. How do you count the occurrence of a given character in a string? <span>

In [45]:
def count_char(string,char):
    print('count of {} in given string is {}'.format(char,string.count(char)))

In [46]:
string='Python'
char='y'
count_char(string,char)

count of y in given string is 1

In [47]:
string='Apple banana orange banana guava orange orange'
char='banana'
count_char(string,char)

count of banana in given string is 2

#### <span style='color:purple '>20. Write a program to find last 10 characters of a string?<span>

In [48]:
def last_10char(string):
    if len(string)>=10:
        return string[-10:]
    else:
        return 'invalid'

In [49]:
last_10char('Python and data science')

'ta science'

In [50]:
last_10char('Python')

'invalid'

#### <span style='color:purple '>21. WAP to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters <span>

In [51]:
def convert_case(string):
    l=[]
    for i in string[:4]:
        if i.isupper():
            l.append(i)
    if len(l)>=2:
        return string.upper()
    else:
        return string

In [52]:
convert_case('Python')

'Python'

In [53]:
convert_case('PYthon')

'PYTHON'

In [54]:
convert_case('PythoN')

'PythoN'

#### <span style='color:purple '>22. Write a Python program to remove a newline in Python.<span>

In [55]:
text = "A regular\n expression is a sequence\n of characters\n that specifies a search\n pattern."
print(text)
print(text.replace('\n', ''))

A regular
 expression is a sequence
 of characters
 that specifies a search
 pattern.
A regular expression is a sequence of characters that specifies a search pattern.

#### <span style='color:purple '>23. Write a Python program to swap commas and dots in a string
○ Sample string: "32.054,23"
○ Expected Output: "32,054.23" <span>

In [56]:
s1=input('Enter the number:')
s2=s1.maketrans('.,',',.')
print(s1.translate(s2))

Enter the number:32.054,23
32,054.23

#### <span style='color:purple '>24. Write a Python program to find the first repeated character in a given string <span>

In [57]:
def repeated_char(string):
    l=[]
    
    for i in string:
        if string.count(i)>=2:
            l.append(i)
    if len(l)>=1:
        return "Repeated characters:",set(l)
    else:
        return "No repeated character"

In [58]:
repeated_char('Science')

('Repeated characters:', {'c', 'e'})

In [59]:
repeated_char('Python')

'No repeated character'

In [60]:
def rep_char(string):
    d={}
    l=[]
    for i in string:
        d.update({i:string.count(i)})
    for i in d:
        if d.get(i)>1:
            l.append(i)
    if len(l)>=1:
        return "Repeated characters:",l
    else:
        return "No repeated character"

In [61]:
rep_char('Science')

('Repeated characters:', ['c', 'e'])

In [62]:
rep_char('Python')

'No repeated character'

#### <span style='color:purple '>25. Write a Python program to find the second most repeated word in a given string <span>

In [1]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
 
    counts_x = sorted(counts.items(), key=lambda kv: kv[1])
    print(counts_x)
    return counts_x[-2]
 
print(word_count("ram sham gia pia pia sham ram radha ram"))

[('gia', 1), ('radha', 1), ('sham', 2), ('pia', 2), ('ram', 3)]
('pia', 2)

#### <span style='color:purple '>26. Python program to Count Even and Odd numbers in a List <span>

In [64]:
l=[23,54,65,77,65,43,12,34,54,67,98,76,54,32,12,32]

even_num,odd_num=0,0

for i in l:
    if i%2==0:
        even_num+=1
    else:
        odd_num+=1
print('count of even numbers in list is', even_num)
print('count of odd numbers in list is', odd_num)

count of even numbers in list is 10
count of odd numbers in list is 6

#### <span style='color:purple '>27. How do you check if a string contains only digits?<span>

In [65]:
def is_digit(string):
    if string.isdecimal():
        return 'String contains only digits'
    else:
        return 'String contains other charaters'
    
print(is_digit('8459382'))
print(is_digit('8se321'))
print(is_digit('u2084'))

String contains only digits
String contains other charaters
String contains other charaters

#### <span style='color:purple '>28. How do you remove a given character/word from String?<span>

In [66]:
def remove_char(string,substring):
    length=len(substring)
    index=string.index(substring)
    return string[:index]+string[index+length:]

In [67]:
string='Learning python and data science is fun'
substring='Learning'

remove_char(string,substring)

' python and data science is fun'

In [68]:
string='Learning python and data science is fun'
substring='a'

remove_char(string,substring)

'Lerning python and data science is fun'

In [69]:
def remove_word(string,substring):
    return string.replace(substring,'')

In [70]:
string='Learning python and data science is fun'
substring='python'

remove_word(string,substring)

'Learning  and data science is fun'

In [71]:
string='Learning python and data science is fun'
substring='a'

remove_word(string,substring)

'Lerning python nd dt science is fun'

#### <span style='color:purple '>29. Write a Python program to remove the characters which have odd index values of a given string <span>

In [72]:
def remove_odd(string):
    result=''
    for i in range(len(string)):
        if i%2==0:
            result=result+string[i]
    return result

string='Learning python and data science is fun'   
remove_odd(string)

'Lann yhnaddt cec sfn'

#### <span style='color:purple '>30. Write a Python function to reverses a string if its length is a multiple of 5<span>

In [73]:
def reverse_string(string):
    if len(string)%5==0:
        return string[::-1]
    else:
        return 'String is not reversible'

In [74]:
reverse_string('Python')

'String is not reversible'

In [75]:
reverse_string('print')

'tnirp'

#### <span style='color:purple '>31. Write a Python program to format a number with a percentage(0.05 >> 5%)<span>

In [76]:
number=float(input())
percent='{:.0%}'.format(number)
print(percent)

0.43
43%

#### <span style='color:purple '>32. Write a Python program to reverse words in a string<span>

In [77]:
def reverse_words(string):
    l=string.split()
    l2=[]
    for i in l:
        l2.append(i[::-1])
    return ' '.join(l2)

In [78]:
string='Learning python and data science is fun'
reverse_words(string)

'gninraeL nohtyp dna atad ecneics si nuf'

#### <span style='color:purple '>33. Write a Python program to swap cases of a given string<span>

In [79]:
string=input('Enter your string:')

print(string.swapcase())

Enter your string:Pyhton
pYHTON

#### <span style='color:purple '>34. Write a Python program to remove spaces from a given string<span>

In [80]:
string=input('Enter your string:')

print(string.replace(' ',''))

Enter your string:Python Assignment
PythonAssignment

#### <span style='color:purple '>35. Write a Python program to remove duplicate characters of a given string<span>

In [81]:
string='lollipop'
a=''
for i in string:
    if i not in a:
        a=a+i
print(a)

loip

In [82]:
string='python'
a=''
for i in string:
    if i not in a:
        a=a+i
print(a)

python

#### <span style='color:purple '>36. Write a Python Program to find the area of a circle<span>

In [83]:
from math import pi

radius=float(input('enter radius of circle:'))

print('Aread of circle:', round(pi*radius**2,2))

enter radius of circle:4
Aread of circle: 50.27

#### <span style='color:purple '>37. Python Program to find Sum of squares of first n natural numbers <span>

In [84]:
def sum_of_squares(n):
    sum_=0
    for i in range(n+1):
        sum_=sum_+i**2
    return sum_

sum_of_squares(10)

385

#### <span style='color:purple '>38. Python Program to find cube sum of first n natural numbers <span>

In [85]:
def sum_of_cubes(n):
    sum_=0
    for i in range(n+1):
        sum_=sum_+i**3
    return sum_

sum_of_cubes(5)

225

#### <span style='color:purple '>39. Python Program to find simple interest and compound interest <span>

In [86]:
#simple intrest & compound intrest
P=float(input("Enter the principal amount:"))
N=float(input("Enter the number of years:"))
R=float(input("Enter rate of intrest:"))
Simple_intrest = (P*N*R)/100

print("Simple intrest:", Simple_intrest)

Compound_intrest = P*(pow((1+R/100), N))

print("Compound intrest:", Compound_intrest)

Enter the principal amount:2000
Enter the number of years:5
Enter rate of intrest:12
Simple intrest: 1200.0
Compound intrest: 3524.6833664000014

#### <span style='color:purple '>40. Python program to check whether a number is Prime or not<span>

In [87]:
def prime_number(num):
    for i in range(2,int(num/2)+1):
        if num % i==0:
            print('Number is not a prime number')
            break
    else:
        print('Number is prime number')

In [88]:
prime_number(41)

Number is prime number

In [89]:
prime_number(15)

Number is not a prime number

In [ ]:
#end