## Dictionary

In [ ]:
dict1 = {Key1 : Value1, Key2 : Value2}
1. It is collection of key and value pair
2. We can not access item by using index
3. Duplicates keys are not allowed, but values can be duplicate
4. dict are comma seperated
5. dict are enclosed by {}

Ordered  >> If python >= 3.7
Unordered >> If Python < 3.7  (3.6,3.5)


Key  >> Immutable DataTypes (int,float,string, tuple,frozenset)
values >> Any DataTypes (int,float,string, tuple, list, set, dict, etc)

In [1]:
dict1 = {"a" : [10,30,40,50], 'b': 200}
type(dict1)

dict

In [2]:
dict1 = {(10,20):13}
type(dict1)

dict

In [3]:
dict1 = {1 : [10,30,40,50], 3.5: 200}

print(dict1,len(dict1))

{1: [10, 30, 40, 50], 3.5: 200} 2

In [4]:
dict1 = {1 : [10,30,40,50], 3.5: 200, [3,4,5,6]:'python'}

print(dict1,len(dict1))

TypeError: unhashable type: 'list'

In [5]:
dict1 = {1 : [10,30,40,50], 3.5: 200, frozenset({3,4,5,6}):'python'}

print(dict1,len(dict1))

{1: [10, 30, 40, 50], 3.5: 200, frozenset({3, 4, 5, 6}): 'python'} 3

In [6]:
dict1 = {1 : [10,30,40,50], 3.5: 200, frozenset({3,4,5,6}):'python', {'A':5} : 'data science'}

print(dict1,len(dict1))

TypeError: unhashable type: 'dict'

### Accessing dictionary items

In [ ]:
dict1[KeyName]

In [7]:
dict1 = {'Name': 'Rohit', 'Age': 15, 'Marks': 90, 'Place' : 'Pune'}
dict1

{'Name': 'Rohit', 'Age': 15, 'Marks': 90, 'Place': 'Pune'}

In [8]:
dict1['Marks']

90

In [9]:
dict1['Place']

'Pune'

### get()

In [10]:
employee_data = {'Employee Name': "Prashant",
                'Company Name': 'Zensar',
                "Salary": 50000,
                'Designation' : "Data Scientist"}

In [11]:
employee_data.get('Salary')

50000

In [12]:
employee_data.get('Designation')

'Data Scientist'

### accessing items using loop

In [13]:
employee_data = {'Employee Name': "Prashant",
                'Company Name': 'Zensar',
                "Salary": 50000,
                'Designation' : "Data Scientist"}

In [14]:
employee_data.keys()

dict_keys(['Employee Name', 'Company Name', 'Salary', 'Designation'])

In [15]:
employee_data.values()

dict_values(['Prashant', 'Zensar', 50000, 'Data Scientist'])

In [16]:
employee_data.items()

dict_items([('Employee Name', 'Prashant'), ('Company Name', 'Zensar'), ('Salary', 50000), ('Designation', 'Data Scientist')])

In [17]:
for key, value in employee_data.items():
    print(key,value)

Employee Name Prashant
Company Name Zensar
Salary 50000
Designation Data Scientist

### access keys from dictionary

In [18]:
for key in employee_data.keys():
    print("Key is :",key)

Key is : Employee Name
Key is : Company Name
Key is : Salary
Key is : Designation

In [19]:
for key in employee_data:
    print("Key is :",key)

Key is : Employee Name
Key is : Company Name
Key is : Salary
Key is : Designation

### access values from dictionary

In [20]:
for value in employee_data.values():
    print("value is :",value)

value is : Prashant
value is : Zensar
value is : 50000
value is : Data Scientist

In [21]:
employee_data.values()

dict_values(['Prashant', 'Zensar', 50000, 'Data Scientist'])

### access keys and values from dictionary

In [22]:
employee_data.items()

dict_items([('Employee Name', 'Prashant'), ('Company Name', 'Zensar'), ('Salary', 50000), ('Designation', 'Data Scientist')])

### add items to dictionary

In [23]:
stud_marks = {  'A': 60,
                'B': 80,
                "C": 80,
                'D': 75}

In [24]:
stud_marks['E'] = 90
print(stud_marks)

{'A': 60, 'B': 80, 'C': 80, 'D': 75, 'E': 90}

### update()

In [25]:
employee_data = {'Employee Name': "Prashant",
                'Company Name': 'Zensar',
                "Salary": 50000,
                'Designation' : "Data Scientist"}

new_data = {'Company Location' : 'Mumbai',
           'Age': 30,
           'Employee ID' : 'ZS1001'}

employee_data.update(new_data)
print(employee_data,len(employee_data))

{'Employee Name': 'Prashant', 'Company Name': 'Zensar', 'Salary': 50000, 'Designation': 'Data Scientist', 'Company Location': 'Mumbai', 'Age': 30, 'Employee ID': 'ZS1001'} 7

In [36]:
ascii_upper = {}
ascii_lower = {}

for i in range(65,91):
    ascii_upper.update({chr(i) : i })
    
for i in range(97,123):
    ascii_lower[chr(i)]=i
    
print(ascii_upper)
print("\n",ascii_lower)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

 {'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

### delete items from dictionary

In [ ]:
1. pop
2. popitem
3. clear
4. del

#### 1.dict.pop()

In [ ]:
dict.pop(key)

In [26]:
d1 = {'Employee Name': "Prashant",
        'Company Name': 'Zensar',
        "Salary": 50000,
        'Designation' : "Data Scientist"}

d1.pop('Salary')
d1

{'Employee Name': 'Prashant',
 'Company Name': 'Zensar',
 'Designation': 'Data Scientist'}

#### 2. popitem()

In [ ]:
Remove last inserted item

In [27]:
d1.popitem()

('Designation', 'Data Scientist')

In [28]:
d1

{'Employee Name': 'Prashant', 'Company Name': 'Zensar'}

#### 3.clear()

In [29]:
d1.clear()

In [30]:
d1

{}

#### 4.del keyword

In [31]:
employee_data

{'Employee Name': 'Prashant',
 'Company Name': 'Zensar',
 'Salary': 50000,
 'Designation': 'Data Scientist',
 'Company Location': 'Mumbai',
 'Age': 30,
 'Employee ID': 'ZS1001'}

In [32]:
del employee_data['Age']

In [33]:
employee_data

{'Employee Name': 'Prashant',
 'Company Name': 'Zensar',
 'Salary': 50000,
 'Designation': 'Data Scientist',
 'Company Location': 'Mumbai',
 'Employee ID': 'ZS1001'}

### application

In [35]:
#square of first 10 natural numbers

square={}

for i in range(1,11):
    square[i]=i**2
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Nested Dictionary

In [37]:
emp_details = {'CG0001' : {'Employee Name': 'Sagar',
                              'Salary': 70000,
                              'Designation':'Python Developer'},
              'CG0002':   {'Employee Name': 'Akash',
                              'Salary': 80000,
                              'Designation':'Data Scientist'},
              'CG0003':   {'Employee Name': 'Ajay',
                              'Salary': 60000,
                              'Designation':'ML Developer'}}

print(emp_details,len(emp_details))

{'CG0001': {'Employee Name': 'Sagar', 'Salary': 70000, 'Designation': 'Python Developer'}, 'CG0002': {'Employee Name': 'Akash', 'Salary': 80000, 'Designation': 'Data Scientist'}, 'CG0003': {'Employee Name': 'Ajay', 'Salary': 60000, 'Designation': 'ML Developer'}} 3

In [38]:
emp_details['CG0003']['Designation']

'ML Developer'

In [39]:
emp_details = {'CG0001' : {'Employee Name': 'Sagar',
                              'Salary': 70000,
                              'Designation':'Python Developer'},
              'CG0002':   {'Employee Name': 'Akash',
                              'Salary': 80000,
                              'Designation':'Data Scientist'},
              'CG0003':   {'Employee Name': 'Ajay',
                              'Salary': [60000,80000,90000],
                              'Designation':'ML Developer'}}

print(emp_details,len(emp_details))

{'CG0001': {'Employee Name': 'Sagar', 'Salary': 70000, 'Designation': 'Python Developer'}, 'CG0002': {'Employee Name': 'Akash', 'Salary': 80000, 'Designation': 'Data Scientist'}, 'CG0003': {'Employee Name': 'Ajay', 'Salary': [60000, 80000, 90000], 'Designation': 'ML Developer'}} 3

In [40]:
emp_details['CG0003']['Salary'][-1]

90000

In [41]:
emp_details = {'CG0001' : {'Employee Name': 'Sagar',
                              'Salary': 70000,
                              'Designation':'Python Developer'},
               
              'CG0002':   {'Employee Name': 'Akash',
                              'Salary': 80000,
                              'Designation':'Data Scientist',
                          'Location':{"State":"Maharashtra",'City':'Pune'}},
               
              'CG0003':   {'Employee Name': 'Ajay',
                              'Salary': [60000,80000,90000],
                              'Designation':'ML Developer'}}

emp_details['CG0002']['Location']['City']

'Pune'

In [42]:
emp_details = {'CG0001' : {'Employee Name': 'Sagar',
                              'Salary': 70000,
                              'Designation':'Python Developer'},
               
              'CG0002':   {'Employee Name': 'Akash',
                              'Salary': 80000,
                              'Designation':'Data Scientist',
                          'Location':{"State":"Maharashtra",'City':'Pune'}},
               
              'CG0003':   {'Employee Name': 'Ajay',
                              'Salary': [60000,80000,90000],
                              'Designation':'ML Developer'}}

emp_details['CG0002']['Location']['City'] = 'Mumbai'
emp_details

{'CG0001': {'Employee Name': 'Sagar',
  'Salary': 70000,
  'Designation': 'Python Developer'},
 'CG0002': {'Employee Name': 'Akash',
  'Salary': 80000,
  'Designation': 'Data Scientist',
  'Location': {'State': 'Maharashtra', 'City': 'Mumbai'}},
 'CG0003': {'Employee Name': 'Ajay',
  'Salary': [60000, 80000, 90000],
  'Designation': 'ML Developer'}}

In [43]:
subject = ['Phy','Che','Math','Eng','Bio']
marks =   [90, 89, 93, 92, 85]

x = {}

for i in subject:
    for s in marks:
        x[i]=s
print(x)

{'Phy': 85, 'Che': 85, 'Math': 85, 'Eng': 85, 'Bio': 85}

### Sort dictionary

#### 1. sort using key

In [46]:
result = {'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}
new_result={}
sorted_keys=sorted(result.keys())

for sub in sorted_keys:
    print(sub)

Bio
Che
Eng
Math
Phy

In [48]:
result = {'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}
new_result = {}
sorted_keys = sorted(result.keys())
print('sorted_keys :',sorted_keys)
for sub in sorted_keys:
    new_result.update({sub : result[sub]})
print("new_result :",new_result)

sorted_keys : ['Bio', 'Che', 'Eng', 'Math', 'Phy']
new_result : {'Bio': 85, 'Che': 89, 'Eng': 92, 'Math': 93, 'Phy': 90}

#### 2. sort using values

In [74]:
result = {'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 92, 'Bio': 85}

new_results={}

for marks in sorted(result.values()):
        for sub_name in result:
            if result[sub_name]==marks:
                new_results.update({sub_name:marks})
                break
        
print(new_results)

{'Bio': 85, 'Che': 89, 'Phy': 90, 'Eng': 92, 'Math': 93}

### fromkeys

In [ ]:
dict.fromkeys(sequence, [val])

In [75]:
result = dict.fromkeys(['A','B','C','D'])
result

{'A': None, 'B': None, 'C': None, 'D': None}

In [76]:
result = dict.fromkeys(['A','B','C','D'],'python')
result

{'A': 'python', 'B': 'python', 'C': 'python', 'D': 'python'}

### setdefault()

In [ ]:
Return a value with specifed key

In [77]:
result = {'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 89, 'Bio': 85}
result.setdefault('Phy')

90

In [78]:
result = {'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 89, 'Bio': 85}
result.setdefault('PHYSICS')
result

{'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 89, 'Bio': 85, 'PHYSICS': None}

### copy()

In [80]:
d1 = {'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 89, 'Bio': 85}
d2 = d1
d2['DS'] = 100
print(d2)
print(d1)

{'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 89, 'Bio': 85, 'DS': 100}
{'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 89, 'Bio': 85, 'DS': 100}

In [81]:
d1 = {'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 89, 'Bio': 85}
d2 = d1.copy()
d2['DS'] = 100
print(d1)
print(d2)

{'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 89, 'Bio': 85}
{'Phy': 90, 'Che': 89, 'Math': 93, 'Eng': 89, 'Bio': 85, 'DS': 100}

In [ ]:
#end