## If else statements

Decision making statements

In [ ]:
if condition1:#true or false
    block of code
    statement1
    statement2

elif condition2: #true or false
    block of code
    statement3
    statement4
    
else:
    statement5

#### Valid syntax of if else statements

In [ ]:
if 
if >> else
if >> elif 
if >> elif >> elif
if >> elif >> else
if >> elif >> elif  >> else

In [3]:
string='Machine Learning'

if string.islower(): #false
    print('String is in lower case')

else:
    print('String is not in lower case')

String is not in lower case

In [4]:
string='machine learning'

if string.islower(): #true
    print('String is in lower case')

else:
    print('String is not in lower case')

String is in lower case

In [5]:
string='Data Science'
    
if string.islower(): #false
    print('String is in lower case')

elif string.isupper(): #false
    print('String is in upper case')
    
elif string.istitle(): #true
    print('String is in title case')
    
else:
    print('String is numeric or symbolic')

String is in title case

## Operators

#### 1.Comparison Operators

In [ ]:
a == b     # Equal operator
a != b     # Not Equal
a > b      # greater than
a < b      # less than
a >= b     # greater than or equal
a <= b     # less than or equal

In [6]:
a=13
b=13

a!=b

False

In [7]:
a='python'
b='python'

a==b

True

In [8]:
a=int(input())
b=int(input())

if a>b:
    print('a is greater than b')

elif a==b:
    print('a is equal to b')
    
else:
    print('b is greater than a')

34
65
b is greater than a

In [9]:
a=int(input())
b=int(input())

if a>b:
    print('a is greater than b')

elif a==b:
    print('a is equal to b')
    
else:
    print('b is greater than a')

21
20
a is greater than b

In [10]:
a=int(input())
b=int(input())

if a>b:
    print('a is greater than b')

elif a==b:
    print('a is equal to b')
    
else:
    print('b is greater than a')

20
20
a is equal to b

In [11]:
a = 40
b = 40.0
if a <= b: # True
    print("a is less than or equal to b")
    
elif a > b:
    print("a is greater than b")

a is less than or equal to b

#### 2. Logical operators

In [ ]:
1. and operator
2. or operator


1. and operator :
True and True   >> True
True and False  >> False
False and True  >> False
False and False >> False

2. or operator:
True or True   >> True
True or False  >> True
False or True  >> True
False or False >> False

In [12]:
a=20
b=30
c=40

In [15]:
b>a

True

In [14]:
c>b

True

In [16]:
b>a and c>b #true and true is true

True

In [17]:
b>a and c<b #true and false is false

False

In [18]:
b<a and c>b #false and true is false

False

In [19]:
b<a and c<b #false and false is false

False

In [20]:
b>a or c>b #true or true is true

True

In [21]:
b>a or c<b #true or false is true

True

In [22]:
b<a or c>b #false or true is true

True

In [23]:
b<a or c<b #false or false is false

False

In [24]:
a = 5
b = 6
c = 10
d = 20
a < b  and a < c and a < d and b < d  #  True and True and True and True

True

In [25]:
a = 5
b = 6
c = 10
d = 20
a < b  and a < c and a < d and d < b  #  True and True and True and False

False

In [26]:
a = 30
b = 200
c = 10

if a > b and a > c:
    print("a is greater than b and c")
    
elif b > a and b > c:
    print("b is greater than a and c")
    
else:
    print("c is greater than a and b")

b is greater than a and c

In [27]:
a = 30
b = 20
c = 100

if a > b and a > c:  # True and False >> False
    print("a is greater than b and c")
    
elif b > a and b > c: # False and False >> False
    print("b is greater than a and c")
    
else: 
    print("c is greater than a and b")

c is greater than a and b

In [28]:
a = input("Enter the value of a: ") # string
b = input("Enter the value of b: ")
c = input('Enter the value of c: ')
print(f"a == {a}, b == {b}, c == {c}")
print(type(a),type(b),type(c))

Enter the value of a: 43
Enter the value of b: 56
Enter the value of c: 32
a == 43, b == 56, c == 32
<class 'str'> <class 'str'> <class 'str'>

#### 3. Arithmetic Operator

In [ ]:
+    >> addition operator
-    >> substraction
*    >> Multiplication
/    >> division  (float)
//   >> floor division
%    >> Modulus
**   >> Exponent

##### preference of arithmetic operators

In [ ]:
() >> Parenthesis
** >> exponent
*, /, //
+, -

In [29]:
a=20
b=30

b//a

1

In [30]:
30//20

1

In [31]:
30/20

1.5

In [32]:
(30/10)

3.0

In [33]:
30/10

3.0

In [34]:
int(30/10)

3

In [35]:
30 %10

0

In [36]:
30%13

4

In [38]:
30*13

390

In [39]:
8 * 8 * 8

512

In [40]:
8 * 8 * 8 * 8 * 8

32768

In [41]:
8 ** 5

32768

In [42]:
x = 5
y = 5 * (x ** 3) + 3*(x**2) - 8*x + 7
print(f'y == {y} when x  == {x}')

y == 667 when x  == 5

In [43]:
10 * 6 / 4

15.0

In [44]:
(10 / 6) * 4

6.666666666666667

In [45]:
10 / (6 * 4)

0.4166666666666667

#### 4. Assignment Operator

In [ ]:
=  
+=    >> a += 1   >> a = a + 1
-=    >> a -= 1   >> a = a - 1
*=    >> a *= 2   >> a = a * 2
/=    >> a /= 2   >> a = a / 2
//=   >> a //=3   >> a = a // 3
%=    >> a %= 2   >> a = a % 2
**=   >> a **=3   >> a = a ** 3

In [46]:
a = 5
print(a)
a = 5 + 1
print(a)

5
6

In [47]:
a = 5
print(a)
a = a + 1 
print(a)

5
6

In [48]:
a = 5
print(a)
a += 5 
print(a)

5
10

In [49]:
count = 0 
string = 'python'
for i in string:
    print(i,count)
    count = count + 1

p 0
y 1
t 2
h 3
o 4
n 5

In [50]:
count = 10 
string = 'python'
for i in string:
    print(i,count)
    count = count - 1

p 10
y 9
t 8
h 7
o 6
n 5

#### 5.Membership Operator

in 
not in:
True >> False
False >> True

In [51]:
string = 'data science'
substring = 'data'

if substring in string:
    print(f'{substring} is present in given string')

data is present in given string

In [53]:
string = 'data science'
substring1 = 'Data'
substring2 = 'Python'

if substring1 in string and substring2 in string : # False and False >> False
    print(f'{substring1} and {substring2} is present in given string')
    
else:
    print(f'{substring1} or {substring2} is not present in given string')

Data or Python is not present in given string

In [55]:
string = 'data science'
substring = 'python'

if substring not in string: # False
    print(f'{substring} is not present in given string')

python is not present in given string

#### 6. Identity operators

In [ ]:
is
is not

In [68]:
a = 5
b = 5
a == b

True

In [69]:
id(a)

2607623268784

In [70]:
id(b)

2607623268784

In [71]:
x = 257
y = 257
print(id(x))
print(id(y))

2607707393360
2607707393712

In [72]:
a = 200
b = 200
print(id(a))
print(id(b))

2607623463568
2607623463568

In [73]:
if x is y:
    print("Same Location")
    
else:
    print("Different Location")

Different Location

In [74]:
if a is b:
    print("Same Location")
    
else:
    print("Different Location")

Same Location

In [75]:
a = 'python'
b = 'python'

a is b

True

In [76]:
a = 'python '
b = 'python '

a is b

False

In [77]:
a='data'
b='data'

a is b

True

In [78]:
a='data '
b='data '

a is b

False

#### 7. Bitwise Operator

In [ ]:
&  >> bitwise and
|  >> bitwise or
^  >> bitwise XOR
>>  right shift
<<  left shift

In [79]:
bin(10)

'0b1010'

In [80]:
bin(13)

'0b1101'

In [83]:
10 | 13

15

In [84]:
10 & 13

8

In [ ]:
Bitwise AND 

1 0 1 0   # 10
1 1 0 1   # 13

1 0 0 0    # 8

In [ ]:
Bitwise OR (|) 

1 0 1 0   # 10
1 1 0 1   # 13

1 1 1 1   # 15

In [ ]:
XOR :
1 0 1 0   # 10
1 1 0 1   # 13
0 1 1 1

In [85]:
10 ^ 13

7

In [ ]:
AND 

1  & 1 >> 1
1  & 0 >> 0
0  & 1 >> 0
0  & 0 >> 0

OR

1  | 1 >> 1
1  | 0 >> 1
0  | 1 >> 1
0  | 0 >> 0

XOR
1  | 1 >> 0
1  | 0 >> 1
0  | 1 >> 1
0  | 0 >> 0

In [ ]:
Right shift

In [86]:
10 >> 1

5

In [88]:
10>>2

2

In [92]:
print(bin(10))
print(bin(1))
print(bin(5))
print(bin(2))
print(bin(20))

0b1010
0b1
0b101
0b10
0b10100

In [ ]:
left shift

In [91]:
10<<1

20

### Pass statement

USed to avoid an errors
If there is not statement in if/elif/else block, then we can use pass statement

In [56]:
string1 = 'python'
string2 = 'python'
if string1 == string2:
    print('string1 >>',string1)
    print('string2 >>',string2)
    print("Both strings are equal")
    
else:
    print("String are different")

string1 >> python
string2 >> python
Both strings are equal

In [57]:
string1 = 'python'
string2 = 'class'
if string1 == string2:
    print('string1 >>',string1)
    print('string2 >>',string2)
    print("Both strings are equal")
    
else:
    print("String are different")

String are different

In [58]:
string1 = 'python'
string2 = 'class'
if string1 == string2:
    pass
#     print('string1 >>',string1)
#     print('string2 >>',string2)
#     print("Both strings are equal")
    
else:
    print("String are different")

String are different

## Nested If-else statements

if statement inside if statement

In [59]:
x = 90
if x > 100:
    print("x is greater than 100")
    
else:
    print('x is less than or equal to 100')

x is less than or equal to 100

In [60]:
x = 900
if x > 100:
    print("x is greater than 100")
    
else:
    print('x is less than or equal to 100')

x is greater than 100

In [61]:
x = 200
if x > 100: # True
    print("x is greater than 100")
    if x > 150: # True
        print("x is greater than 150")
        
    else:
        print("x is less than 150")
    
else:
    print('x is less than or equal to 100')

x is greater than 100
x is greater than 150

In [62]:
x = 130
if x > 100: # True
    print("x is greater than 100")
    if x > 150: # False
        print("x is greater than 150")
        
    else:
        print("x is less than 150")
    
else:
    print('x is less than or equal to 100')

x is greater than 100
x is less than 150

In [63]:
x = 90
if x > 100: # False
    print("x is greater than 100")
    if x > 150: # False
        print("x is greater than 150")
        
    else:
        if x > 120: # False
            print('x is greater than 120')
        else:
            print("x is less than 120")
    
else:
    print('x is less than or equal to 100')

x is less than or equal to 100

In [64]:
cibil_score = 760
age = 30
salary = 60000
# loan_status >> Approved/declined

if cibil_score > 750: # True
    print('Cibil score is greater than 750')
    
    if age > 25 and age < 60: # True and True
        print('Age is between 25 to 60')
        
        if salary > 40000: # True
            print("Salary is greater than 40000")
            print("Loan Approved")
            
        else:
            print("Declined")
        
    else:
        print("Declined")
    
else:
    print("Declined")

Cibil score is greater than 750
Age is between 25 to 60
Salary is greater than 40000
Loan Approved

### short hand if

In [65]:
a = 50
b = 6
if a > b :print('a is greater than b')

a is greater than b

### short hand if else

In [66]:
a = 50
b = 60

print('a is greater than b') if a > b else print('b is greater than a')

b is greater than a

In [67]:
a = 500
b = 60

print('a is greater than b') if a > b else print('b is greater than a')

a is greater than b

In [ ]:
#end