## Assignment: 3

Topic: Patterns and loops

Write a Python Program to print below Patterns using For and
While Loop:

### Simple Pyramid


*
* *
* * *
* * * *
* * * * *

In [3]:
#using for loop
n=int(input())
for i in range(n+1):
    print('* '*i)

5

*
* *
* * *
* * * *
* * * * *

In [12]:
def pypart(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print('*',end=' ')
        print('\r')
pypart(5)

*
* *
* * *
* * * *
* * * * *

In [15]:
#using list
n=int(input())
mylist=[]

for i in range(1,n+1):
    mylist.append('* '*i)
print('\n'.join(mylist))

5
*
* *
* * *
* * * *
* * * * *

2:
        *
      * *
    * * *
  * * * *
* * * * *

In [36]:
n=int(input())

for i in range(n+1):
    print('  '*(n-i),'* '*i)

5

         *
       * *
     * * *
   * * * *
 * * * * *

In [40]:
n=5
k=n*2-2

for i in range(n):
    for j in range(k):
        print(end=' ')
    k=k-2
    for j in range(i+1):
        print('*',end=' ')
    print('\r')

        *
      * *
    * * *
  * * * *
* * * * *

3: cristmas tree
    *
   * *
  * * *
 * * * *
* * * * *

In [49]:

n=5
for i in range(1,n+1):
    print(' '* (n-i)+'* '*i)

    *
   * *
  * * *
 * * * *
* * * * *

4:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [56]:
n=5

for i in range(1,n+1):
    num=1
    for j in range(i):
        print(num,end=' ')
        num+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

5:
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [62]:
n=5
num=1
for i in range(1,n+1):
    for j in range(i):
        print(num,end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

6:
A 
B B
C C C
D D D D
E E E E E

In [72]:
n=5
num=65

for i in range(0,n):
   
    for j in range(0,i+1):
        ch=chr(num)
        print(ch,end=' ')
    num+=1
    print()

A
B B
C C C
D D D D
E E E E E

7:
A
B C
D E F
G H I J
K L M N O

In [73]:
n = 5
num = 65
for i in range(0,n): 
    for j in range(0,i+1):
        ch=chr(num)
        print(ch,end = ' ')
        num += 1
    print()

A
B C
D E F
G H I J
K L M N O

8:
K
K K
K K K
K K K K
K K K K K

In [74]:

for i in range(0,5):
    for j in range(0,i+1):
        print('K',end=" ")
    print()

K
K K
K K K
K K K K
K K K K K

In [75]:
#9
n=5
num=65
for i in range(1,n+1):
    num=65
    for j in range(i):
        print(chr(num),end=' ')
        num+=1
    print()

A
A B
A B C
A B C D
A B C D E

In [76]:
#10
str1='Python'
ch=''
for i in str1:
    ch=ch+i
    print(ch)

P
Py
Pyt
Pyth
Pytho
Python

In [77]:
#11
num=1
for i in range(6,1,-1):
    for j in range(i-1):
        print(num,end=' ')
    num+=1
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [78]:
#11
i=1
while i <=5:
    j=5
    while j>=i:
        print(i,end=" ")
        j-=1
    print()
    i+=1

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [79]:
#12
num=6
for i in range(7,1,-1):
    for j in range(i-1):
        print(num,end=' ')
    num-=1
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [80]:
#13
for i in range(6,1,-1):
    for j in range(i):
        print(j,end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [81]:
#14
num=1
n=0
for i in range(1,4):
    I=2*n+1
    for j in range(I):
        print(num,end=' ')
        num+=1
    n+=1
    print()

1
2 3 4
5 6 7 8 9

In [82]:
#15
for i in range(6,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [83]:
#16
n=1
for i in range(1,6):
    for j in range(i):
        print(n,end=' ')
    n+=2
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [84]:
#17
for i in range(1,6):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [85]:
#18 using for loop
for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print(i,end=" ")
        else:
            print(j,end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [86]:
#18 using while loop
i=1
while i<6:
    j=1
    while j<6:
        if j<=i:
            print(i,end=" ")
        else:
            print(j,end=" ")
        j+=1
    i+=1
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [87]:
#19 Using for loop
n=1
for i in range(1,8):
    m=1
    for j in range(i):
        print(m*n,end=" ")
        m+=1
    n+=1
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [88]:
#19 Using while loop
i=1
while i<8:
    j=1
    n=1
    while j <=i:
        print(i*j,end=" ")
        j+=1
    i+=1
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [89]:
#20 Using for loop
for i in range(1,9):
    for j in range(i-1,-1,-1):
        print(2**j,end=" ")
    print()

1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

In [92]:
#21
m=6
n=0
for i in range(m,0,-1):
    print("* "*i +' '*m*5 + " * "*i,end=' ')
    m+=1
    print()

* * * * * *                                *  *  *  *  *  *
* * * * *                                     *  *  *  *  *
* * * *                                          *  *  *  *
* * *                                               *  *  *
* *                                                    *  *
*                                                         *

In [93]:
#22
for i in range(1,7):# 0,1,2,3,4,5,6
    for j in range(i):
        print('*',end=' ')
    print() 
for x in range(6,0,-1):
    for y in range(x):
        print('*',end=' ') 
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [94]:
#23
for i in range(1,7):# 0,1,2,3,4,5,6
    for j in range(i):
        print('*',end=' ')
    print() 
print()
for x in range(6,0,-1):
    for y in range(x):
        print('*',end=' ') 
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#end