### Loops

1. for loop

2. while loop

### <span style='color:purple '> 1.For loop </span>

In [ ]:
it works like iterator
Sequence >> String, List, tuple, set, dict, range, numpy array, dataframe

for variable in sequence:
    print(variable)
    statement1
    statement2
    
    
for index,item in enumerate(sequence):
    print(index,item)
    statement3
    statement4

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(5):
    print('We are learning loops')

We are learning loops
We are learning loops
We are learning loops
We are learning loops
We are learning loops

In [3]:
string='Hello'

for i in string:
    print(i)

H
e
l
l
o

In [4]:
for i in string:
    print(string)

Hello
Hello
Hello
Hello
Hello

In [5]:
for i in string:
    print(i)
    print('+'*5)

H
+++++
e
+++++
l
+++++
l
+++++
o
+++++

In [6]:
for index, item in enumerate(string):
    print(index,item)

0 H
1 e
2 l
3 l
4 o

In [7]:
string = 'machine'
for i,v in enumerate(string):
    print(f'char at index {i} is {v}')

char at index 0 is m
char at index 1 is a
char at index 2 is c
char at index 3 is h
char at index 4 is i
char at index 5 is n
char at index 6 is e

#### 1.1 for loop in list

In [8]:
list1 = [10,20,30,14,26]
for i in list1:
    print(i)

10
20
30
14
26

In [9]:
list1 = [10,20,30,14,26]
for i,v in enumerate(list1):
    print(i,v)

0 10
1 20
2 30
3 14
4 26

In [10]:
list1 = [2,3,4.5,20,5.14,'python',100,15.10,'data science',9.45]

intList = []
floatList = []
strList = []
for value in list1:
    if type(value) == int:
        intList.append(value)
        
    elif type(value) == float:
        floatList.append(value)
        
    else:
        strList.append(value)

print("Integers :",intList)
print("Float    :",floatList)
print("String   :",strList)

Integers : [2, 3, 20, 100]
Float    : [4.5, 5.14, 15.1, 9.45]
String   : ['python', 'data science']

In [11]:
intList = []
strList = []
floatList = []
for i in range(7):
    a = input('Enter value : ')
    
    if a.isdigit():
        intList.append(int(a))
        
    elif a.isalpha():
        strList.append(a)
        
    else:
        floatList.append(float(a))
    
print(intList)
print(strList)
print(floatList)

Enter value : 56
Enter value : data
Enter value : 6.9
Enter value : 23
Enter value : python
Enter value : science
Enter value : 3.3
[56, 23]
['data', 'python', 'science']
[6.9, 3.3]

### Loop control statement

In [ ]:
1. break
2. continue
3. pass

#### 1.break

use to exit for loop

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(10):
    print(f'i=={i}')
    if i==6:
        print('found item')

i==0
i==1
i==2
i==3
i==4
i==5
i==6
found item
i==7
i==8
i==9

In [14]:
for i in range(10):
    print(f'i=={i}')
    if i==6:
        print('found item')
        break

i==0
i==1
i==2
i==3
i==4
i==5
i==6
found item

In [15]:
for i in range(10):
    print(f'i=={i}')
    if i==6:
        break
        print('found item')

i==0
i==1
i==2
i==3
i==4
i==5
i==6

In [16]:
numbers = [2,4,6,7,8,10,20]
for item in numbers:
    print(item)
    if item % 2 != 0:
        print('Odd number found in list')
        break

2
4
6
7
Odd number found in list

#### 2. continue

Used to stop only current iteratio, and contineu with next iteration

In [17]:
for i in range(10):
    print(f'i == {i}')
    if i == 7:
        print("Required value found")
        continue

i == 0
i == 1
i == 2
i == 3
i == 4
i == 5
i == 6
i == 7
Required value found
i == 8
i == 9

In [19]:
for i in range(10):
    if i == 7:
        print("Required value found")
        continue # used to stop current iteration
    print(f'i == {i}')

i == 0
i == 1
i == 2
i == 3
i == 4
i == 5
i == 6
Required value found
i == 8
i == 9

#### 3.pass

he pass statement is used as a placeholder for future code. When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed.

In [20]:
for i in [10,20,40]:
    print('Value in i variable is :',i)

Value in i variable is : 10
Value in i variable is : 20
Value in i variable is : 40

In [21]:
for i in [10,20,40]:
    print('Value in i variable is :',i)
    pass

Value in i variable is : 10
Value in i variable is : 20
Value in i variable is : 40

### for-else

Else block will execute only when the loop completes its all iterations

In [23]:
for i in range(10):
    print(f'i == {i}')
    if i == 8:
        break
        
else: 
    print('Loop Completed')

i == 0
i == 1
i == 2
i == 3
i == 4
i == 5
i == 6
i == 7
i == 8

In [24]:
for i in range(10):
    print(f'i == {i}')
    if i == 8:
        pass
        
else: 
    print('Loop Completed')

i == 0
i == 1
i == 2
i == 3
i == 4
i == 5
i == 6
i == 7
i == 8
i == 9
Loop Completed

In [25]:
for i in range(10):
    print(f'i == {i}')
    if i == 8:
        continue
        
else: 
    print('Loop Completed')

i == 0
i == 1
i == 2
i == 3
i == 4
i == 5
i == 6
i == 7
i == 8
i == 9
Loop Completed

### Factorial of Numbers

In [ ]:
5!  >> 5 * 4 * 3 * 2 * 1  > 120
4!  >> 4 * 3 * 2 * 1
3!  >> 3 * 2 * 1
1!  >> 1
0!  >> 1

In [27]:
n=5
fact=1

for i in range(1,n+1):
    fact*=i
    print(fact)

1
2
6
24
120

In [28]:
n = int(input('Enter the value of n :'))
fact = 1
if n < 0:
    print("Factorial does not exist")
else:
    for i in range(1,n+1):
        fact = fact * i
    
    print(f'Factorial of {n} is {fact}')

Enter the value of n :6
Factorial of 6 is 720

#### Prime Number

In [31]:
n=int(input('Enter the number:'))

for i in range(2,n-1):
    if n%i==0:
        print(f'{n} is not a prime number')
        break
    else:
        print(f'{n} is a prime number')
        break

Enter the number:7
7 is a prime number

#### Fibonacci Series

0 1 1 2 3 5 8 13 .....

n = 8
0 1 1 2 3 5 8 13

n = 10
0 1 1 2 3 5 8 13 21 34

n = 5
0 1 1 2 3

In [41]:
n=int(input('Enter the number:'))

f_num=0
s_num=1

print('Fibonacci series:',f_num,s_num,end=' ')
for i in range(0,n-2):
    new=f_num+s_num
    f_num=s_num
    s_num=new
    print(new,end=' ')

Enter the number:25
Fibonacci series: 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368

#### Nested for loops

for loop inside for loop

In [ ]:
for variable1 in sequence1:
    statement1
    statement2
    for variable2 in sequence2:
        statement3 
        statement4
        for variable3 in sequence3:
            statement5
            statement6
            
        for variable4 in sequence4:
            statement5
            statement6

In [43]:
for i in range(6):
    print(f'i=={i}')
    for j in range(i):
        print(f'j**{j}')

i==0
i==1
j**0
i==2
j**0
j**1
i==3
j**0
j**1
j**2
i==4
j**0
j**1
j**2
j**3
i==5
j**0
j**1
j**2
j**3
j**4

In [44]:
for i in range(6):
    print(f'i=={i}')
    for j in range(i):
        print(f'j**{j}')
        for k in 'loop':
            print(k)

i==0
i==1
j**0
l
o
o
p
i==2
j**0
l
o
o
p
j**1
l
o
o
p
i==3
j**0
l
o
o
p
j**1
l
o
o
p
j**2
l
o
o
p
i==4
j**0
l
o
o
p
j**1
l
o
o
p
j**2
l
o
o
p
j**3
l
o
o
p
i==5
j**0
l
o
o
p
j**1
l
o
o
p
j**2
l
o
o
p
j**3
l
o
o
p
j**4
l
o
o
p

In [50]:
for i in range(6):
    print(f'i=={i}',end='>>')
    for j in range(i):
        print(f'j**{j}',end='>>\n')
        for k in 'loop':
            print(k)

i==0>>i==1>>j**0>>
l
o
o
p
i==2>>j**0>>
l
o
o
p
j**1>>
l
o
o
p
i==3>>j**0>>
l
o
o
p
j**1>>
l
o
o
p
j**2>>
l
o
o
p
i==4>>j**0>>
l
o
o
p
j**1>>
l
o
o
p
j**2>>
l
o
o
p
j**3>>
l
o
o
p
i==5>>j**0>>
l
o
o
p
j**1>>
l
o
o
p
j**2>>
l
o
o
p
j**3>>
l
o
o
p
j**4>>
l
o
o
p

In [53]:
for i in range(5):
    for j in range(4):
        print('*')
    print()

*
*
*
*

*
*
*
*

*
*
*
*

*
*
*
*

*
*
*
*

In [54]:
for i in range(5):
    for j in range(i):
        print('*')
    print()

*

*
*

*
*
*

*
*
*
*

In [55]:
for i in range(5):
    for j in range(5):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [1]:
for i in range(1,6):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [4]:
n=10

for i in range(1,n+1):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [7]:
n=5
for i in range(n,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [8]:
for i in range(5):
    for j in range(5):
        print('1',end=' ')
    print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [9]:
for i in range(5):
    for j in range(3):
        print('5',end=' ')
    print()

5 5 5
5 5 5
5 5 5
5 5 5
5 5 5

In [10]:
for i in range(5):
    for j in range(5):
        print(j+1,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [12]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [13]:
for i in range(5):
    for j in range(5):
        print(j,end=' ')
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [14]:
for i in range(5):
    for j in range(5):
        print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [15]:
for i in range(1,6):
    for j in range(5):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [16]:
for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [17]:
n=5

for i in range(n):
    for j in range(n):
        print('A',end=' ')
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [18]:
n=5

for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(66),end=' ')
    print()

B B B B B
B B B B B
B B B B B
B B B B B
B B B B B

In [21]:
n=5
num=65

for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(num),end=' ')
        num+=1
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [23]:
n=5
num=65

for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(num),end=' ')
    num+=1
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [24]:
n=5
num=65

for i in range(1,n+1):
    for j in range(i):
        print(chr(num),end=' ')
        num+=1
    print()

A
B C
D E F
G H I J
K L M N O

In [25]:
n=5
num=65

for i in range(1,n+1):
    for j in range(i):
        print(chr(num),end=' ')
    num+=1
    print()

A
B B
C C C
D D D D
E E E E E

In [26]:
n=5


for i in range(1,n+1):
    num=65
    for j in range(i):
        print(chr(num),end=' ')
        num+=1
    print()

A
A B
A B C
A B C D
A B C D E

In [27]:
n=5


for i in range(1,n+1):
    num=97
    for j in range(i):
        print(chr(num),end=' ')
        num+=1
    print()

a
a b
a b c
a b c d
a b c d e

In [31]:

for i in range(1,6):
    num=1
    for j in range(i):
        print(num,end=' ')
        num+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
num=1
for i in range(1,6):
    
    for j in range(i):
        print(num,end=' ')
    num+=1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [34]:
n = 5
for i in range(1,n+1): 
    num = 1
    for j in range(i): 
        print(num ** 2,end = ' ') 
        num += 1
    print()

1
1 4
1 4 9
1 4 9 16
1 4 9 16 25

In [39]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print('*',end=' ')
    print()
for i in range(n-1,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [46]:
n=5
for i in range(1,n+1):
    print(' '*(n-i)+ '*'*i)

    *
   **
  ***
 ****
*****

In [47]:
n=5

for i in range(1,n+1):
    print(' '*(n-i)+'*'*(i*2-1))

    *
   ***
  *****
 *******
*********

In [48]:
n=5
num=65

for i in range(1,n+1):
    for j in range(i):
        print(chr(num),end=' ')
    print()
for i in range(n-1,0,-1):
    for j in range(i):
        print(chr(num),end=' ')
    print()

A
A A
A A A
A A A A
A A A A A
A A A A
A A A
A A
A

In [53]:
n=5
num=65

for i in range(1,n+1):
    for j in range(i):
        print(chr(num),end=' ')
        num+=1
    print()
for i in range(n-1,0,-1):
    for j in range(i):
        print(chr(num),end=' ')
        num+=1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S
T U V
W X
Y

In [54]:
n = 5
num = 1
for i in range(1,n+1): 
    for j in range(i):
        print(num,end = ' ')
        num += 1
    print()
for i in range(n-1,0,-1): 
    for j in range(i):
        print(num,end = ' ')
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19
20 21 22
23 24
25

#### Flaten_list

In [56]:
list1=[[23,56,78],[43,76,99]]

flatten_list=[]

for i in list1:
    for j in i:
        flatten_list.append(j)
print(flatten_list)

[23, 56, 78, 43, 76, 99]

### <span style='color:purple '> 2.While loop </span>

while condition:
    statement1
    statement2
    increment

In [57]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
i=0

while i<5:
    print(i)
    i=i+1

0
1
2
3
4

In [4]:
i=0
while i<3:
    print('learning loops')
    i+=1

learning loops
learning loops
learning loops

In [5]:
i=0
while i<6:
    print('learning loops')
    i+=2

learning loops
learning loops
learning loops

In [13]:
#addition of naturals numbers using for loop
n=int(input('Number:'))
addition=0

for i in range(n+1):
    addition+=i
print(f'addition of first {n} numbers is {addition}')

Number:5
addition of first 5 numbers is 15

In [12]:
#addition of naturals numbers using while loop

n=int(input('Number:'))
i=0
addition=0

while i<=n:
    addition+=i
    i+=1
print(f'addition of first {n} numbers is {addition}')

Number:5
addition of first 5 numbers is 15

In [17]:
#multiplication of naturals numbers 
n=int(input('enter number:'))
multiplication=1

i=1
while i<=n:
    multiplication*=i
    i+=1
print(f'multiplication of first {n} natural numbers is {multiplication}')

enter number:10
multiplication of first 10 natural numbers is 3628800

#### Loop control

1. break

In [19]:
i=5
while i<=10:
    print(i)
    if i==8:
        print('Number print')
        break
    i+=1

5
6
7
8
Number print

In [20]:
i=5
while i<=10:
    print(i)
    i+=1
    if i==8:
        print('Number print')
        break

5
6
7
Number print

2.continue

In [21]:
i=5

while i<=10:
    print(i)
    if i==8:
        print('number found')
    i+=1
    continue

5
6
7
8
number found
9
10

In [22]:
i=5

while i<=10:
    print(i)
    i+=1
    if i==8:
        print('number found')
    continue

5
6
7
number found
8
9
10

In [24]:
#print characters from string
string='Amisha'
i=0

while i<len(string):
    print(string[i])
    i+=1

A
m
i
s
h
a

In [25]:
string = 'python'
i = 0
while i < len(string): # i < 6
    print(f'Char at index {i} is {string[i]}')
    i += 1

Char at index 0 is p
Char at index 1 is y
Char at index 2 is t
Char at index 3 is h
Char at index 4 is o
Char at index 5 is n

In [26]:
numbers = [20,30,10,45,25]
i = 0
while i < len(numbers):
    print(f'value at index {i} is {numbers[i]}')
    i += 1

value at index 0 is 20
value at index 1 is 30
value at index 2 is 10
value at index 3 is 45
value at index 4 is 25

In [27]:
#factorial
fact=1
n=5
i=n

while i>=1:
    fact=fact*i
    i=i-1
print(f'factorial of {n} is {fact}')

factorial of 5 is 120

In [28]:
#table
n=10
i=1

while i<=10:
    print(f'{n}*{i}={n*i}')
    i+=1

10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [ ]:
#end